// 헤더 작업 시작
header {
    display:flex; justify-content:center; align-items:center;
    background-color:#fff;
    width:100%;
    flex-direction:column;
    .center {
        width:80%;
        padding:15px 0;
        .logo {
            a {
                img {width:200px;}
            }
        }
        .mobile_header {
            display:none;
            .top {
                display:flex; justify-content:space-between; align-items:center;
                .btn {
                    display:flex; flex-direction:column; cursor:pointer;
                    z-index:99;
                    span {
                        display:block; margin:5px 0;
                        width:40px; height:2px; background-color:#c73d40;
                        transition:all 0.5s;
                    }
                    .mid_span.on {transform:translateX(30px); opacity:0;}
                    .first_span.on {transform:rotate(45deg)  translateX(17px); background-color:#fff;}
                    .last_span.on {transform:rotate(-45deg) translateX(17px); background-color:#fff;}
                }
            }
            .right_menu {
                transition:all 0.5s;
                position:fixed; right:0; top:0;
                width:0;
                height:100vh;
                z-index:98;
                background-color:#c73d40;
                // display:flex; flex-direction:column; justify-content:space-around;
                .ham_gnb {
                    display:flex; flex-direction:column;
                    padding:0 40px;
                    justify-content:space-between;
                    margin-top:100px;
                    > li {
                        margin-bottom:50px;
                        .engMenu {display:none;}
                        > p {
                            cursor:pointer;
                            color:#fff;
                            font-size:25px;
                            margin-bottom:30px;
                            display:flex;
                            justify-content:space-between;
                            align-items:center;
                            img {
                                width:25px; height:15px; transition:all 0.5s;
                            }
                            .turn {
                                transform:rotateX(180deg);
                            }
                        }
                        .ham_sub_gnb {
                            height:0;
                            overflow:hidden;
                            transition:all 0.5s;
                            li {
                                line-height:2.5;
                                a {
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
                .sns {
                    display:flex; justify-content:space-between; width:50%;
                    margin:100px auto;
                    li {
                        margin:0 10px;
                        a {
                            font-size:35px; color:#fff; opacity:0.7;
                        }
                    }
                }
                .admin {
                    display:flex; justify-content:center;
                    a {
                        padding:15px 30px; border-radius:30px;
                        background-color:#eec4c5;
                        color:#c73d40; font-weight:bold;
                    }
                }
            }
        }
        .desktop_header {
            justify-content:space-between; align-items:center;
            .admin {
                position:absolute; top:10px; right:10px;
                a {
                    i {color:#c73d40;}
                }
            }
            .subGnb_bg {
                position:absolute; top:100px; left:0; width:100%; height:0;
                background-color:#fff; transition:all 0.5s;
                z-index:98;
            }
            .gnb {
                // border:2px solid #c73d40;
                width:100%; padding:10px 0;
                display:flex; align-items:center; justify-content:space-around;
                > li {
                    position:relative;
                    text-align:center;
                    width:15%;
                    &:hover {
                        .engMenu {opacity:0;}
                        .korMenu {opacity:1;}
                        // > a {
                        //     color:#c73d40;
                        // }
                    }
                    > a {
                        span {
                            width:100%; transition:all 0.2s;
                        }
                        .korMenu {
                            position:absolute;
                            left:50%; top:0; transform:translateX(-50%);
                            opacity:0;
                        }
                    }
                    &:hover {
                        .sub_gnb {
                            height:150px;
                        }    
                    }
                    .sub_gnb {
                        position:absolute;
                        width:100%; padding-top:35px;
                        overflow:hidden; height:0;
                        transition:all 0.5s;
                        z-index:99;
                        li {
                            a {
                                line-height:1.5;
                            }
                        }
                    }
                }
            }
        }
        .blur_bg {
            display:none;
            opacity:0.7;
            width:100vw;
            height:100vh;
            position:fixed;
            top:90.67px;
            left:0;
            background-color:#fff;
            transition:all 0.5s;
        }
    }
}

// 풋터 작업 시작
footer {
    background-color:#333;
    display:flex; justify-content:center;
    .center {
        width:80%;
        display:flex; flex-direction:column; align-items:center; justify-content:space-between;
        padding:100px 0;
        .logo {
            a {
                img {width:200px;}
            }
        }
        .sns {
            display:flex; justify-content:space-around; width:50%;
            margin:30px 0;
            li {
                a {
                    font-size:35px; color:#fff; opacity:0.7;
                }
            }
        }
        .address {
            display:flex; flex-wrap:wrap;
            li {
                font-size:13px;
                color:#ccc;
                &::after {
                    content:""; display:inline-block;
                    width:2px; height:13px; background-color:#ccc;
                    transform:translateY(2px); margin:0 10px;
                }
                &:last-child {
                    transform:translateY(2px);
                    &::after {
                        display:none;
                    }
                }
            }
        }
        .copyright {font-size:13px; color:#ccc; margin-top:30px;}
    }
}

// 캐로셀 작업 시작
// .carousel_wrap {
//     display:flex; justify-content:center;
//     .center {
//         width:80%; overflow:hidden;
//         display:flex;
//         .carousel {
//             display:flex; white-space:nowrap;
//             >div {
//                 display:inline-flex;
//             }
//             span {
//                 display:block; box-sizing:border-box; margin:0 15px;
//             }
//             .red {color:hotpink;}
//             .blue {color:blue;}
//             .play {
//                 animation: textSlide 10s linear infinite;
//             }
//             @keyframes textSlide{
//                 0% {transform:translateX(0)}
//                 100% {transform: translateX(-100%)}
//             }
//         }
//     }
// }

// 관리자 페이지 작업 시작
// 수정화면 버튼 누르기 전까지 안보이게 처리
.updateForm {display:none;}

// 관리자페이지 헤더
#admin_header {
    display:flex; justify-content:center;
    .center {
        width:80%;
        .top_line {
            padding:20px 0;
            display:flex; justify-content:end;
            p {
                &::after {
                    content:""; display:inline-block; transform:translateY(2px);
                    width:2px; height:15px; background:#000;
                    margin:0 10px;
                }
            }
        }
        .bot_line {
            display:flex; justify-content:space-between; align-items:center;
            .logo {
                width:200px;
                img {
                    width:100%;
                }
            }
            .gnb {
                width:60%;
                display:flex; justify-content:space-between;
            }
        }
    }
}

// 로그인 페이지
#admin_login {
    display:flex; justify-content:center;
    .center {
        width:80%; height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        a,p {
            margin-bottom:30px;
        }
        form {
            display:flex;
            flex-direction:column;
            width:270px;
            .line {
                display:flex; justify-content:space-between;
                margin-bottom:15px;
                label {}
                input {border:1px solid #ddd;}
            }
            button {border:1px solid #666;}
        }
    }
}

// 관리자 상품 관리 페이지
#admin_prdlist {
    display:flex; justify-content:center;
    .center {
        width:80%;
        input, select, textarea {border:1px solid #000;}
        .add_btn {
            display:block; text-align:center;
            margin:50px 0;
            &:hover {
                text-decoration:underline;
            }
        }
        // 관리자 상품 추가 페이지
        .add_prd {
            display:flex; flex-direction:column;
            margin:100px 0;
            .line {
                margin-bottom:20px;
                label {
                    display:block; margin-bottom:5px;
                }
                input, select, button, textarea {width:100%;}
                input, select {height:30px;}
                #thumbnail {height:auto;}
                textarea {height:100px; padding-top:5px;}
                button, a {
                    display:block;
                    width:160px; height:50px; margin:0 25px;
                    color:#fff; background-color:#c73d40;
                    text-align:center; line-height:50px;
                    font-size:15px; font-weight:300; cursor:pointer;
                }
            }
            .line.btns {
                display:flex; justify-content:center;
            }
        }
        // 관리자 상품 목록 페이지
        .prdList {
            display:flex; padding:50px 0; justify-content:center;
            border-top: 1px solid #000;
            li {
                &:hover {
                    text-decoration:underline;
                }
                &::after {
                    content:""; display:inline-block;
                    width:2px; height:15px; background-color:#000;
                    transform:translateY(2px);
                    margin:0 50px;
                }
                &:last-child {
                    &::after {
                        display:none;
                    }
                }
            }
            li.on{
                a{
                    color:#c73d40;
                    font-weight:bold;
                }
            }
        }
        .prdwrap {
            &:last-child {
                border-bottom:1px solid #000;
            }
            .list {
                border-top:1px solid #000;
                padding:50px 0; white-space:pre-line;
                .prd_box {
                    display:flex; justify-content:space-around;
                }
                .btns {
                    margin-top:20px; display:flex; justify-content:center;
                    a {
                        margin:0 25px;
                        display:block;
                        text-align:center;
                        width:160px;
                        height:50px; line-height:50px;
                        color:#fff; background-color:#c73d40;
                    }
                }
            }
            .updateForm {
                .flex_form {
                    display:flex; flex-direction:column;
                    input, select, button, textarea {width:100%;}
                    .line {
                        margin-bottom:20px;
                        input, select {height:30px;}
                        #thumbnail {height:auto;}
                        textarea {height:100px; padding-top:5px;}
                    }
                    .line.btns {
                        display:flex; justify-content:center;
                        button {
                            width:160px; height:50px; margin:0 25px;
                            color:#fff; background-color:#c73d40; cursor:pointer;
                        }
                    }
                }
            }
        }
    }
}

// 관리자 매장 관리 페이지
#admin_storeList {
    display:flex; justify-content:center;
    input, select {border:1px solid #000;}
    .center {
        width:80%;
        .add_btn {
            display:block;
            text-align:center;
            margin:50px 0;
            &:hover {
                text-decoration:underline;
            }
        }
        // 관리자 매장 추가 페이지
        .add_form {
            display:flex; flex-direction:column;
            margin:100px 0;
            .line {
                margin-bottom:20px;
                label {
                    display:block; margin-bottom:5px;
                }
                input, select, button, textarea {width:100%;}
                input, select {height:30px;}
                #thumbnail {height:auto;}
                textarea {height:100px; padding-top:5px;}
                button, a {
                    display:block;
                    width:160px; height:50px; margin:0 25px;
                    color:#fff; background-color:#c73d40;
                    text-align:center; line-height:50px;
                    font-size:15px; font-weight:300; cursor:pointer;
                }
            }
            .line.btns {
                display:flex; justify-content:center;
            }
            .address {
                display:flex; justify-content:space-between;
                input, select, button {width:49%;}
            }
        }
        // 관리자 매장 목록 페이지
        .storewrap {
            &:last-child {
                border-bottom:1px solid #000;
            }
            .list {
                border-top:1px solid #000;
                padding:50px 0;
                .btns {
                    margin:30px 0; display:flex; justify-content:center;
                    a {
                        margin:0 25px;
                        display:block;
                        text-align:center;
                        width:160px;
                        height:50px; line-height:50px;
                        color:#fff; background-color:#c73d40;
                    }
                }
                .updateForm {
                    .line {
                        input, select, button {width:100%;}
                        margin-bottom:20px;
                        input, select {height:30px;}
                        #thumbnail {height:auto;}
                    }
                    .address {
                        display:flex; justify-content:space-between;
                        input, select {width:49%;}
                    }
                    .line.btns {
                        button {
                            width:160px; height:50px; margin:0 25px;
                            color:#fff; background-color:#c73d40; cursor:pointer;
                        }
                    }
                }
            }
        }
    }
}


// 페이징 관련 페이지
.paging_wrap {
    display:flex;
    justify-content:space-around;
    margin:15px auto;
    .line {
        display:flex;
        li {
            margin:0 15px;
            &:hover {
                a {
                    text-decoration:underline;
                }
            }
        }
        li.pagingOn {
            a {color:#c73d40; font-weight:bold;}
        }
    }
}

// 관리자 게시판 관리 페이지
#board_list_wrap {
    .center {
        .add_btn {
            display:block;
            text-align:center;
            width:160px; margin:30px auto;
            height:50px; line-height:50px;
            color:#fff; background-color:#c73d40;
        }
    }
}
// 관리자 게시글 상세 페이지
#board_detail_wrap {
    .detail_btns {
        border-top:4px solid #c73d40;
        padding-top:50px;
        display:flex; justify-content:space-around;
        a {
            display:block;
            text-align:center;
            // border:1px solid #c73d40;
            width:160px;
            height:50px; line-height:50px;
            color:#fff; background-color:#c73d40;
        }
    }
}
// 관리자 게시글 작성 페이지
#board_insert_wrap,#board_edit_wrap {
    display:flex; justify-content:center;
    .center {
        width:80%;
        form {
            .line {
                margin-bottom:30px;
                label {
                    display:block; margin-bottom:10px;
                }
                input, select, textarea {border:1px solid #000; width:100%; height:30px;}
                #file {height:auto;}
                textarea {height:500px;}
                button,a {
                    display:block;
                    width:160px; height:50px; margin:0 25px;
                    color:#fff; background-color:#c73d40;
                    text-align:center; line-height:50px;
                    font-size:15px; font-weight:300; cursor:pointer;
                }
            }
            .line.btns {
                display:flex; justify-content:center;
            }
        }
    }
}


// 메인화면 작업 시작
#container {
    >div {
        display:flex; justify-content:center; align-items:center;
        margin:100px 0;
        .center {
            width:80%;
            h2 {
                font-size:60px; margin-bottom:80px;
            }
        }
    }
    .top_btn {
        z-index:99;
        margin:0;
        position:fixed;
        bottom:30px; right:30px;
        width:30px;
        cursor:pointer;
        transition:all 0.5s;
        &:hover {
            bottom:40px;
        }
        img {
            width:100%;
        }
    }
    .slider {
        margin:0;
        .center {
            width:100%;
            .view {
                width:100%;
                position:relative;
                overflow-x:hidden;
                &:hover {
                    .btns {
                        .point_btns {
                            img {opacity:1;}
                            .left {left:20px;}
                            .right {right:20px;}
                        }
                    }
                }
                .btns {
                    .point_btns {
                        img {
                            width:30px; position:absolute; top:50%; transform:translateY(-50%);
                            cursor:pointer; transition:all 0.5s; opacity:0;
                        }
                        .left {left:-100px;}
                        .right {right:-100px;}
                    }
                    .circle_btns {
                        position:absolute; bottom:20px; left:50%; transform:translateX(-50%);
                        span {
                            display:inline-block; margin:0 10px;
                            width:20px; height:20px; background-color:#c73d40; border-radius:50%;
                            opacity:0.8; cursor:pointer;
                        }
                        .on {background-color:#fff; opacity:1;}
                    }
                }
                .wide {
                    // 스크립트에서 left값 줘야할 태그
                    display:flex; width:300%; transition:all 0.5s;
                    margin-left:0;
                    >div {
                        width:33.333333%; display:flex;
                        img {
                            margin:0 auto; width:100%;
                        }
                    }
                }
            }
        }
    }
    .carousel {
        h2 {color:#c73d40;}
        .center {
            overflow:hidden;
            .carousel_boxs {
                width:100%;
                height:350px;
                .img_boxs {
                    width:100%;
                    position:relative; z-index:1;
                    img {
                        position:absolute; top:0; left:0;
                        width:100%;
                        z-index:1;
                        opacity:0;
                        transition:all 0.5s;
                    }
                    .show {
                        opacity:1;
                    }
                }
                .text_boxs {
                    z-index:10; padding-top:65px;
                    .line {
                        display:flex; white-space:nowrap;
                        margin-bottom:20px;
                        >div {
                            display:inline-flex;
                        }
                        span {
                            display:block; box-sizing:border-box; padding:0 15px;
                            font-size:60px;
                            z-index:10; transition:all 0.3s;
                        }
                        .red {
                            -webkit-text-fill-color:transparent;
                            -webkit-text-stroke-width:1px;
                            -webkit-text-stroke-color:#e8006c;
                        }
                        .blue {
                            -webkit-text-fill-color:transparent;
                            -webkit-text-stroke-width:1px;
                            -webkit-text-stroke-color:#6dc4d8;
                        }
                        .white {
                            -webkit-text-fill-color:transparent;
                            -webkit-text-stroke-width:2px;
                            -webkit-text-stroke-color:#fff;
                        }
                    }
                }
            }
            .more {
                margin-top:100px; display:block;
                color:#000;
                text-align:center;
                // width:100%; display:block;
                // border:1px solid #c73d40;
            }
        }
    }
    .new_product {
        .center {
            overflow:hidden;
            h2 {
                color:#c73d40;
            }
            .new_prd_list {
                display:flex; justify-content:space-between;
                position:relative; height:500px;
                .left_boxs {
                    width:47%; border:2px solid #c73d40;
                    border-radius:25px;
                    display:flex; justify-content:space-around; flex-direction:column;
                    padding:0 0 0 50px; box-sizing:border-box;
                    .box {
                        p {
                            display:inline-block; cursor:pointer;
                            position:relative; line-height:1.5; transition:all 0.5s;
                            color:#666;
                            &::after {
                                content:""; display:block; position:absolute;
                                width:0; height:2px; background-color:#c73d40;
                                transition:all 0.5s;
                            }
                            &:hover {
                                &::after {
                                    width:100%;
                                }
                            }
                        }
                    }
                    .box.on {
                        p {
                            font-size:20px; color:#000;
                            &::after {
                                width:100%;
                            }
                        }
                    }
                }
                .mid_boxs {
                    .box {
                        position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
                        transition:all 0.5s; opacity:0; z-index:10;
                    }
                    .box.show {opacity:1;}
                }
                .right_boxs {
                    width:47%; border:2px solid #c73d40;
                    border-radius:25px; position:relative;
                    .box {
                        width:65%;
                        position:absolute; top:60%; transform:translateY(-50%); right:50px;
                        opacity:0;
                        text-align:right;
                        transition:all 0.5s;
                        display:flex; flex-direction:column; justify-content:space-around;
                        height:100%;
                        p {line-height:3; white-space:pre-line;}
                    }
                    .box.show {
                        opacity:1; top:50%;
                    }
                }
            }
            .mobile_prd_list {
                display:none; align-items:center;
                width:200%; transition:all 0.5s;
                .prd_box {
                    width:33.333333%;
                    a {
                        display:flex; flex-direction:column;
                        align-items:center;
                        img {
                            width:100%;
                        }
                    }
                }
            }
        }
    }
    .bake_count {
        background-color:#c73d40;
        padding:50px 0;
        .center {
            border:1px solid #fbf9e5; border-radius:30px;
            padding:30px; box-sizing:border-box;
            h2 {
                color:#fbf9e5;
            }
            .count_list {
                display:flex; justify-content:space-between;
                .count {
                    width:100%;
                    display:flex; justify-content:space-around; flex-direction:column; text-align:center;
                    .today_count {
                        border-top:10px double #fbf9e5;
                        border-bottom:10px double #fbf9e5;
                        text-align:center; padding:20px 0; margin-bottom:50px;
                        font-size:45px; color:#fbf9e5;
                        br {display:none;}
                        span {
                            font-size:60px;
                        }
                    }
                    p {
                        line-height:2; color:#fbf9e5;
                    }
                }
            }
        }
    }
    .news {
        .center {
            h2 {color:#c73d40;}
            .news_boxs {
                width:100%; display:flex; justify-content:space-between;
                .left_img {
                    width:47%; margin:auto 0;
                    img {
                        width:100%;
                    }
                }
                .view {
                    margin:auto 0;
                    width:47%; position:relative;
                    display:flex; flex-direction:column;
                    height:875px; overflow:hidden;
                    border-top:4px solid #c73d40;
                    border-bottom:4px solid #c73d40;
                    &:hover {
                        .btns {
                            .up {top:20px;}
                            .down {bottom:20px;}
                        }
                    }
                    .btns {
                        img {
                            position:absolute; left:50%; transform:translateX(-50%);
                            width:50px; transition:all 0.5s; cursor:pointer; z-index:10;
                        }
                        .up {
                            top:-100px;
                        }
                        .down {
                            bottom:-100px;
                        }
                    }
                    .boxs {
                        transition:all 0.5s;
                        .box {
                            padding:50px 0 50px 30px;
                            border-top:1px solid #c73d40;
                            position:relative;
                            cursor:pointer;
                            a {
                                margin:15px 0;
                                font-size:20px;
                                font-weight:300;
                                display:block;
                            }
                            p {
                                font-size:12px;
                            }
                            img {
                                position:absolute;
                                right:0; top:50%; transform:translateY(-50%);
                                width:20px;
                            }
                        }
                        .last_box {
                            border-bottom:1px solid #c73d40;
                        }
                    }
                }
            }
        }
    }
    // .mid_img {
    //     width:100%;
    // }
    .location {
        .center {
            h2 {color:#c73d40;}
            #map {
                width:100%; height:650px;
                background-image:url("/img/map.png");
                background-repeat:no-repeat;
                background-size:cover;
            }
            .more {
                display:flex;
                align-items:center;
                justify-content:center;
                margin:30px 0;
                img {
                    width:10px; margin-right:10px;
                }
            }
        }
    }
}

// about company 작업 시작
#about_company {
    h2 {
        color:#c73d40;
        &::after {
            content:""; display:block;
            width:100%; height:4px;
            background-color:#c73d40;
            margin-top:20px;
        }
    }
    .company_wrap {

        .title {
            font-size:60px; margin:80px 0; text-align:center;
        }
        .box {
            display:flex; justify-content:center;
            margin:100px 0;
            .center {
                border:7px double #c73d40;
                border-radius:30px;
                padding:30px;
                box-sizing:border-box;
                width:80%;
                display:flex; justify-content:space-between;
                .img_box {
                    width:45%;
                    margin:auto 0;
                    img {
                        width:100%;
                    }
                }
                .text_box {
                    width:45%; margin:auto 0;
                    h2 {
                        font-size:40px; margin-bottom:80px;
                    }
                    p {
                        line-height:1.5; color:#333;
                        margin-bottom:50px;
                    }
                }
            }
        }
        .menu_story {
            background-color:#c73d40;
            padding:100px 0;
            .center {
                border:7px double #fedbc2;
                .text_box {
                    h2 {
                        color:#fffbed;
                        &::after {
                            background-color:#fedbc2;
                        }
                    }
                    p {
                        line-height:1.5; margin-bottom:50px; color:#fedbc2;
                    }
                }
            }
        }
    }
}

// 창업안내 franchise 작업 시작
#franchise {
    display:flex; justify-content:center;
    .center {
        width:80%;
        h2 {
            color:#c73d40;
            &::after {
                content:""; display:block;
                width:200px; height:4px;
                background-color:#c73d40;
                margin-top:25px;
            }
        }
        .title {
            font-size:60px; margin:80px 0; text-align:center;
        }
        table {
            width:100%;
            tr {
                th {border:1px solid #c73d40; line-height:5;}
                td {
                    border:1px solid #c73d40; line-height:5;
                    padding-left:10px;
                }
            }
        }
        h2 {
            font-size:40px; margin:80px 0;
            span {
                font-size:18px; font-weight:300;
            }
        }
        p {
            line-height:1.5; margin-bottom:50px;
        }
        ul {
            margin-bottom:50px;
            li {
                line-height:3;
                list-style:circle;
            }
        }
    }
}

// 도넛 메뉴 작업 시작 / menu_list
#menu_wrap {
    display:flex; justify-content:center;
    .center {
        width:80%; margin:100px 0;
        .type_btns {
            display:flex; justify-content:space-between;
            width:50%; margin:0 auto 100px;
            li {
                width:15%;
                a {
                    position:relative;
                    display:inline-block;
                    text-align:center;
                    left:50%;
                    transform:translateX(-50%);
                    color:#666;
                    transition:all 0.5s;
                    &::after {
                        position:absolute;
                        content:""; display:block;
                        width:0; height:1px;
                        background-color:#c73d40;
                        margin-top:5px;
                        transition:all 0.5s;
                }
                }
                &:hover {
                    a {
                        color:#c73d40;
                        // font-size:25px;
                        font-weight:bold;
                        &::after {
                            width:100%;
                        }
                    }
                }
            }
            li.on{
                a{
                    color:#c73d40;
                    // font-size:25px;
                    font-weight:bold;
                }
            }
        }
        .menu_list {
            display:flex; flex-wrap:wrap;
            .menu_box {
                width:20%; margin-bottom:50px;
                .img_box {
                    width:100%; height:100%;
                    img {
                        width:100%;
                    }
                }
                .text_box {
                    width:100%;
                    a {
                        position:relative;
                        display:inline-block;
                        text-align:center;
                        left:50%;
                        transform:translateX(-50%);
                        &::after {
                            position:absolute;
                            content:""; display:block;
                            width:0; height:1px;
                            background-color:#c73d40;
                            margin-top:5px;
                            transition:all 0.5s;
                        }
                    }
                }
                &:hover {
                    .text_box {
                        a {
                           &::after {
                               width:100%;
                           }
                        }
                    }
                }
            }
        }
    }
}

// 도넛 상세 페이지 / doughnut_detail
#detail_wrap {
    display:flex; justify-content:center;
    padding:100px 0;
    .center {
        width:80%;
        .top {
            width:100%;
            &::after {
                content:"";
                display:block;
                width:100%; height:4px;
                background-color:#c73d40;
            }
            h3 {
                font-size:40px; color:#c73d40;
                margin-bottom:30px;
            }
        }
        .bot {
            display:flex; justify-content:space-around;
            margin:0 auto;
            padding:100px 0;
            .img_box {
                width:45%;
                display:flex; justify-content:center;
            }
            .text_box {
                width:45%;
                margin:auto 0; height:100%;
                display:flex; flex-direction:column; justify-content:space-around;
                .taste {
                    margin-bottom:40px;
                    white-space:pre-line;
                    line-height:1.5;
                }
                .sub_text {
                    font-size:11px; color:#333;
                    margin-bottom:10px;
                }
                ul {
                    border-top:25px solid #c73d40;
                    li {
                        border-bottom:1px solid #c73d40;
                        line-height:3;
                    }
                }
            }
        }
        a {
            display:block;
            text-align:center;
            // border:1px solid #c73d40;
            width:160px; margin:0 auto;
            height:50px; line-height:50px;
            color:#fff; background-color:#c73d40;
        }
    }
}

// 매장 목록 화면 작업시작
#store_wrap {
    display:flex; justify-content:center;
    .center {
        width:80%;
        form {
            display:flex; justify-content:center;
            margin:50px 0;
        }
        button {
            background-color:#c73d40; color:#fff;
            width:200px;                     height:40px;
        }
        .search_select {
            width:70%;
            .search_box {
                display:flex; justify-content:space-between;
                select {
                    border:1px solid #000;
                    width:40%;
                    height:40px;
                }
            }
        }
        .search_input {
            width:70%;
            .search_box {
                display:flex; justify-content:space-between;
                height:40px;
                input {
                    border:1px solid #000;
                    width:80.4%;
                }
            }
        }
        .store_list {
            margin:100px 0;
            .store_box {
                padding:50px 0;
                border-top:1px solid #c73d40;
                h3 {
                    margin-bottom:20px;
                }
                p {
                    line-height:1.5;
                }
            }
            &:last-child {
                border-bottom:1px solid #c73d40;
            }
        }
        .no_store {
            margin-bottom:50px;
        }
    }
}

// 사용자 게시판 페이지
#board_list_wrap {
    display:flex; justify-content:center;
    padding:100px 0;
    .center {
        width:80%;
        h2 {
            font-size:40px; color:#c73d40;
            margin-bottom:50px;
        }
        .brd_wrap {
            margin:0 auto;
            width:100%;
            th {
                border-top:4px solid #c73d40;
                border-bottom:4px solid #c73d40;
                line-height:4; text-align:start;
            }
            td {
                border-bottom:1px solid #c73d40;
                line-height:4;
            }
            .number {width:10%; text-align:center;}
            .classification {width:10%;}
            // .title {width:50%;}
            .date {width:30%;}
        }
    }
}

// 사용자 게시글 상세 페이지
#board_detail_wrap {
    white-space:pre-line;
    display:flex; justify-content:center;
    .center {
        width:80%;
        .brd_detail {
            width:100%;
            border-top:4px solid #c73d40;
            .brd_line {
                border-bottom:1px solid #c73d40;
                th {
                    line-height:3;
                }
            }
        }
        .brd_context {
            p {
                text-align:center;
                line-height:1.5;
            }
        }
        .brd_img_box {
            margin:0 auto;
            width:70%;
            img {
                width:100%;
            }
        }
        a {
            display:block;
            text-align:center;
            // border:1px solid #c73d40;
            width:160px; margin:0 auto;
            height:50px; line-height:50px;
            color:#fff; background-color:#c73d40;
        }
    }
}



// 반응형 작업 시작
// 1200 이하
@media (max-width:1200px) {
    // 풋터 작업 시작
    footer {
        .center {
            padding:70px 0;
            height:auto;
            .logo {
                margin-bottom:50px;
            }
            .sns {
                margin-bottom:50px;
            }
            .address {
                display:block;
                margin-bottom:50px;
                li {
                    text-align:center;
                    line-height:2;
                    &::after {display:none;}
                }
            }
            .copyright {
                margin:0;
            }
        }
    }
    // 메인화면 작업 시작
    #container {
        .new_product {
            .center {
                .new_prd_list {
                    .right_boxs {
                        .box {
                            width:60%;
                            p {line-height:1.5;}
                        }
                    }
                }
            }
        }
        .bake_count {
            .center {
                .count_list {
                    .count {
                        .today_count {
                            br {display:block;}
                        }
                    }
                }
            }
        }
    }
    // 매장 목록 화면 작업시작
    #store_wrap {
        .center {
            form {
                .search_select {
                    width:80%;
                }
                .search_input {
                    width:80%;
                }
            }
        }
    }
}
// 1024 이하
@media (max-width:1024px) {
    // 헤더 작업 시작
    header {
        position:fixed; z-index:99;
        .center {
            .desktop_header {
                display:none;
            }
            .mobile_header {
                display:block;
            }
        }
    }
    // 풋터 작업 시작
    footer {
        .center {
            .logo {
            }
            .sns {
                width:85%;
                li {
                }
            }
            .address {
                li {
                }
            }
        }
    }

    // 메인화면 작업 시작
    #container {
        padding-top:90.67px;
        >div {
            .center {
                width:90%;
            }
        }
        .top_btn {
            width:45px;
        }
        .new_product {
            .center {
                .new_prd_list {
                    display:none;
                }
                .mobile_prd_list {
                    display:flex;
                }
            }
        }
        .bake_count {
            .center {
                .count_list {
                    .count {
                        .today_count {
                            line-height:1.5;
                            font-size:40px;
                            br {display:block;}
                            span {
                                font-size:100px;
                                margin:10px 0;
                            }
                        }
                    }
                }
            }
        }
        .news {
            .center {
                .news_boxs {
                    .left_img {display:none;}
                    .view {
                        width:100%;
                        height:700px;
                        .boxs {
                            transform:translateY(-1px);
                        }
                    }
                }
            }
        }
    }
    // about company 작업 시작
    #about_company {
        padding-top:90.67px;
        .company_wrap {
            .box {
                .center {
                    .img_box {
                        display:none;
                    }
                    .text_box {
                        width:100%;
                    }
                }
            }
        }

    }
    // 창업안내 franchise 작업 시작
    #franchise {
        padding-top:90.67px;
        .center {
            width:80%;
            h2 {
                &::after {
                    width:100%;
                }
            }
        }
    }
    // 도넛 메뉴 작업 시작 / menu_list
    #menu_wrap {
        padding-top:90.67px;
        .center {
            width:90%;
            .menu_list {
                .menu_box {
                    width:25%;
                }
            }
        }
    }
    // 도넛 상세 페이지 / doughnut_detail
    #detail_wrap {
        padding:200px 0;
        .center {
            width:90%;
            .bot {
                justify-content:space-between;
            }
        }
    }
    // 매장 목록 화면 작업시작
    #store_wrap {
        padding-top:90.67px;
        .center {
            width:90%;
        }
    }
    // 사용자 게시판 페이지
    #board_list_wrap {
        padding:200px 0;
        .center {
            width:90%;
            .brd_wrap {
                .date {width: 40%;}
            }
        }
    }
    // 사용자 게시글 상세 페이지
    #board_detail_wrap {
        padding-top:90.67px;
        .center {
            width:90%;
        }
    }
}
// 768 이하
@media (max-width:768px) {
    // 풋터 작업 시작
    footer {
        .center {
            width:90%;
        }
    }

    // 메인화면 작업 시작
    #container {
        .bake_count {
            .center {
                .count_list {
                    .count {
                        p {
                            margin-bottom:30px;
                        }
                    }
                }
            }
        }
        .news {
            .center {
                .news_boxs {
                    .left_img {display:none;}
                    .view {
                        height:525px;
                    }
                }
            }
        }
    }
    // 도넛 메뉴 작업 시작 / menu_list
    #menu_wrap {
        .center {
            .type_btns {
                width:70%;
            }
            .menu_list {
                .menu_box {
                    width:33.333333%;
                }
            }
        }
    }
    // 도넛 상세 페이지 / doughnut_detail
    #detail_wrap {
        .center {
            .bot {
                padding:0 0 100px 0;
                flex-direction:column;
                .img_box, .text_box {
                    width:100%;
                }
                .text_box {
                    margin-top:50px;
                }
            }
        }
    }
    // 매장 목록 화면 작업시작
    #store_wrap {
        .center {
            form {
                .search_select {
                    width:100%;
                }
                .search_input {
                    width:100%;
                }
            }
            .store_list {
                .store_box {
                    text-align:center;
                    padding:30px 0;
                }
                .no_store {
                    p {
                        text-align:center;
                    }
                }
            }
        }
    }
    // 사용자 게시판 페이지
    #board_list_wrap {
        padding:200px 0;
        .center {
            width:90%;
            .brd_wrap {
                .date {width: 50%;}
                .classification {
                    display:none;
                }
            }
        }
    }
}
// 580 이하
@media (max-width:580px) {
    // 도넛 메뉴 작업 시작 / menu_list
    #menu_wrap {
        .center {
            .type_btns {
                width:80%;
            }
            .menu_list {
                .menu_box {
                    width:50%;
                }
            }
        }
    }
    // 사용자 게시판 페이지
    #board_list_wrap {
        .center {
            .brd_wrap {
                .title {text-align:center;}
                .date {display:none;}
            }
        }
    }
}