// 헤더 작업 시작
header {
    display:flex; justify-content:center;
    background-color:#fff;
    .center {
        width:80%;
        display:flex; justify-content:space-between; align-items:center;
        padding:15px 0;
        .subGnb_bg {
            position:absolute; top:100px; left:0; width:100%; height:0;
            background-color:#fff; transition:all 0.5s;
            z-index:98;
        }
        .gnb {
            // border:2px solid #c73d40;
            width:100%; padding:10px 0;
            display:flex; align-items:center; justify-content:space-around;
            border-radius:50px;
            .logo {
                a {
                    img {width:200px;}
                }
            }
            > li {
                position:relative;
                text-align:center;
                width:15%;
                &:hover {
                    .engMenu {opacity:0;}
                    .korMenu {opacity:1;}
                    // > a {
                    //     color:#c73d40;
                    // }
                }
                > a {
                    span {
                        width:100%; transition:all 0.2s;
                    }
                    .korMenu {
                        position:absolute;
                        left:50%; top:0; transform:translateX(-50%);
                        opacity:0;
                    }
                }
                &:hover {
                    .sub_gnb {
                        height:150px;
                    }    
                }
                .sub_gnb {
                    position:absolute;
                    width:100%; padding-top:35px;
                    overflow:hidden; height:0;
                    transition:all 0.5s;
                    z-index:99;
                    li {
                        a {
                            line-height:1.5;
                        }
                    }
                }
            }
        }
    }
}

// 풋터 작업 시작
footer {
    background-color:#333;
    display:flex; justify-content:center;
    .center {
        width:80%; height:200px;
        display:flex; flex-direction:column; align-items:center; justify-content:space-between;
        padding:100px 0;
        .logo {
            a {
                img {width:200px;}
            }
        }
        .sns {
            display:flex;
            li {
                margin:0 10px;
                a {
                    font-size:35px; color:#fff; opacity:0.7;
                }
            }
        }
        .address {
            display:flex; flex-wrap:wrap;
            li {
                font-size:13px;
                color:#ccc;
                &::after {
                    content:""; display:inline-block;
                    width:2px; height:13px; background-color:#ccc;
                    transform:translateY(2px); margin:0 10px;
                }
                &:last-child {
                    transform:translateY(2px);
                    &::after {
                        display:none;
                    }
                }
            }
        }
        .copyright {font-size:13px; color:#ccc;}
    }
}

// 캐로셀 작업 시작
.carousel_wrap {
    display:flex; justify-content:center;
    .center {
        width:80%; overflow:hidden;
        display:flex;
        .carousel {
            display:flex; white-space:nowrap;
            >div {
                display:inline-flex;
            }
            span {
                display:block; box-sizing:border-box; margin:0 15px;
            }
            .red {color:hotpink;}
            .blue {color:blue;}
            .play {
                animation: textSlide 10s linear infinite;
            }
            @keyframes textSlide{
                0% {transform:translateX(0)}
                100% {transform: translateX(-100%)}
            }
        }
    }
}

// 관리자 페이지 작업 시작
// 수정화면 버튼 누르기 전까지 안보이게 처리
.updateForm {display:none;}

// 관리자페이지 헤더
#admin_header {
    display:flex; justify-content:center;
    .center {
        width:80%;
        .top_line {
            display:flex; justify-content:end;
            p {
                &::after {
                    content:""; display:inline-block; transform:translateY(2px);
                    width:2px; height:15px; background:#000;
                    margin:0 10px;
                }
            }
            a {}
        }
        .bot_line {
            display:flex; justify-content:space-between;
            .logo {
                width:200px;
                img {
                    width:100%;
                }
            }
            .gnb {
                width:60%;
                display:flex; justify-content:space-between;
                li {
                    a {}
                }
            }
        }
    }
}

// 로그인 페이지
#admin_login {
    display:flex; justify-content:center;
    .center {
        width:80%; height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        form {
            display:flex;
            flex-direction:column;
            .line {
                label {}
                input {border:1px solid #ddd;}
            }
            button {}
        }
    }
}

// 관리자 상품 관리 페이지
#admin_prdlist {
    display:flex; justify-content:center;
    .center {
        width:80%;
        input, select {border:1px solid #000;}
        .admin_menu {}
        .add_prd {
            display:flex; flex-direction:column;
        }
        .prdwrap {
            .updateForm {
                .flex_form {
                    display:flex; flex-direction:column;
                }
            }
        }
    }
}





// 메인화면 작업 시작
#container {
    >div {
        display:flex; justify-content:center;
        margin:100px 0;
        .center {
            width:80%;
            h2 {
                font-size:60px; margin-bottom:80px;
            }
        }
    }
    .slider {
        margin:0;
        .center {
            width:100%;
            .view {
                width:100%;
                position:relative;
                overflow-x:hidden;
                // 스크립트에서 버튼 클릭시
                .btns {
                    .point_btns {
                        img {
                            width:30px; position:absolute; top:50%; transform:translateY(-50%);
                            cursor:pointer;
                        }
                        .left {left:20px;}
                        .right {right:20px;}
                    }
                    .circle_btns {
                        position:absolute; bottom:20px; left:50%; transform:translateX(-50%);
                        span {
                            display:inline-block; margin:0 10px;
                            width:20px; height:20px; background-color:#c73d40; border-radius:50%;
                            opacity:0.8; cursor:pointer;
                        }
                        .on {background-color:#fff; opacity:1;}
                    }
                }
                .wide {
                    // 스크립트에서 left값 줘야할 태그
                    display:flex; width:300%; transition:all 0.5s;
                    >div {
                        width:33.333333%; display:flex;
                        img {
                            margin:0 auto;
                        }
                    }
                }
            }
        }
    }
    .new_product {
        .center {
            h2 {
                color:#c73d40;
            }
            .new_prd_list {
                display:flex; justify-content:space-between;
                position:relative; height:500px;
                .left_boxs {
                    width:47%; border:2px solid #c73d40;
                    border-radius:25px;
                    display:flex; justify-content:space-around; flex-direction:column;
                    padding:0 0 0 50px; box-sizing:border-box;
                    .box {
                        p {
                            display:inline-block; cursor:pointer;
                            position:relative; line-height:1.5; transition:all 0.5s;
                            color:#666;
                            &::after {
                                content:""; display:block; position:absolute;
                                width:0; height:2px; background-color:#c73d40;
                                transition:all 0.5s;
                            }
                            &:hover {
                                &::after {
                                    width:100%;
                                }
                            }
                        }
                    }
                    .box.on {
                        p {
                            font-size:20px; color:#000;
                            &::after {
                                width:100%;
                            }
                        }
                    }
                }
                .right_boxs {
                    width:47%; border:2px solid #c73d40;
                    border-radius:25px; position:relative;
                    .box {
                        position:absolute; top:60%; transform:translateY(-50%); right:50px;
                        opacity:0;
                        text-align:right;
                        transition:all 0.5s;
                        h3 {margin-bottom:30px;}
                        p {line-height:3;}
                    }
                    .box.show {
                        opacity:1; top:50%;
                    }
                }
                .mid_boxs {
                    .box {
                        position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
                        transition:all 0.5s; opacity:0;
                    }
                    .box.show {opacity:1;}
                }
            }
        }
    }
    .bake_count {
        background-color:#c73d40;
        padding:50px 0;
        .center {
            border:1px solid #fbf9e5; border-radius:30px;
            padding:30px; box-sizing:border-box;
            h2 {
                color:#fbf9e5;
            }
            .count_list {
                display:flex; justify-content:space-between;
                .count {
                    width:100%;
                    display:flex; justify-content:space-around; flex-direction:column; text-align:center;
                    .today_count {
                        border-top:10px double #fbf9e5;
                        border-bottom:10px double #fbf9e5;
                        text-align:center; padding:20px 0; margin-bottom:50px;
                        font-size:45px; color:#fbf9e5;
                        span {
                            font-size:60px;
                        }
                    }
                    p {
                        line-height:2; color:#fbf9e5;
                    }
                }
                // .right {
                //     width:47%; border:2px solid #c73d40; border-radius:50px;
                //     overflow:hidden; padding:10px;
                //     img {
                //         width:100%; border-radius:40px;
                //     }
                // }
            }
        }
    }
    .news {
        .center {
            h2 {color:#c73d40;}
            .news_boxs {
                width:100%; display:flex; justify-content:space-between;
                .left_img {
                    width:47%;
                    img {
                        width:100%;
                    }
                }
                .view {
                    margin:auto 0;
                    width:47%; position:relative;
                    display:flex; flex-direction:column;
                    height:876px; overflow:hidden;
                    border-top:4px solid #c73d40;
                    border-bottom:4px solid #c73d40;
                    &:hover {
                        .btns {
                            .up {top:20px;}
                            .down {bottom:20px;}
                        }
                    }
                    .btns {
                        img {
                            position:absolute; left:50%; transform:translateX(-50%);
                            width:50px; transition:all 0.5s;
                        }
                        .up {
                            top:-100px;
                        }
                        .down {
                            bottom:-100px;
                        }
                    }
                    .boxs {
                        .box {
                            padding:50px 0 50px 30px;
                            border-top:1px solid #c73d40;
                            position:relative;
                            cursor:pointer;
                            a {
                                margin:15px 0;
                                font-size:20px;
                                font-weight:300;
                                display:block;
                            }
                            p {
                                font-size:12px;
                            }
                            img {
                                position:absolute;
                                right:0; top:50%; transform:translateY(-50%);
                                width:20px;
                            }
                        }
                        .last_box {
                            border-bottom:1px solid #c73d40;
                        }
                    }
                }
            }
        }
    }
    .location {
        h2 {color:#c73d40;}
        display:flex; justify-content:center;
        .center {
            width:80%; overflow:hidden;
            .img_boxs {
                width:100%;
                position:relative;
                img {
                    position:absolute; top:0; left:0;
                    width:100%;
                    display:none;
                }
                .show {
                    display:block;
                }
            }
            .text_boxs {
                .line {
                    display:flex; white-space:nowrap;
                    >div {
                        display:inline-flex;
                    }
                    span {
                        display:block; box-sizing:border-box; margin:0 15px;
                        font-size:60px;
                        &:hover {
                            
                        }
                    }
                    .red {
                        -webkit-text-fill-color:transparent;
                        -webkit-text-stroke-width:1px;
                        -webkit-text-stroke-color:#e8006c;
                    }
                    .blue {
                        -webkit-text-fill-color:transparent;
                        -webkit-text-stroke-width:1px;
                        -webkit-text-stroke-color:#6dc4d8;
                    }
                    .play {
                        animation: textSlide 45s linear infinite;
                    }
                    @keyframes textSlide{
                        0% {transform:translateX(0)}
                        100% {transform: translateX(-100%)}
                    }
                }
                .line.right {
                    .right {
                        animation: rightSlide 45s linear infinite;
                    }
                    @keyframes rightSlide{
                        0% {transform:translateX(-100%)}
                        100% {transform: translateX(0)}
                    }
                }
            }
            .more {
                margin-top:100px; display:block;
                color:#000;
                text-align:center;
                // width:100%; display:block;
                // border:1px solid #c73d40;
            }
        }
    }
}

// about company 작업 시작
#about_company {
    h2 {
        color:#c73d40;
    }
    .title {
        font-size:60px; margin:80px 0; text-align:center;
    }
    .box {
        display:flex; justify-content:center;
        margin:100px 0;
        .center {
            width:80%;
            display:flex; justify-content:space-between;
            .img_box {
                width:45%;
                img {
                    width:100%;
                }
            }
            .text_box {
                width:45%;
                h2 {
                    font-size:40px; margin-bottom:80px;
                }
                p {
                    line-height:1.5; margin-bottom:50px; color:#333;
                }
            }
        }
    }
    .brand_story {}
    .menu_story {
        background-color:#c73d40;
        padding:100px 0;
        .center {
            .text_box {
                h2 {
                    color:#fbf9e5;
                }
                p {
                    line-height:1.5; margin-bottom:50px; color:#fbf9e5;
                }
            }
        }
    }
    .future_plan {}
}

// 창업안내 franchise 작업 시작
#franchise {
    display:flex; justify-content:center;
    .center {
        width:80%;
        h2 {
            color:#c73d40;
        }
        .title {
            font-size:60px; margin:80px 0; text-align:center;
        }
        table {
            width:100%;
            tr {
                th {border:1px solid #c73d40; line-height:5;}
                td {
                    border:1px solid #c73d40; line-height:5;
                    padding-left:10px;
                }
            }
        }
        h2 {
            font-size:40px; margin:80px 0;
            span {
                font-size:25px; font-weight:300;
            }
        }
        p {
            line-height:1.5; margin-bottom:50px;
        }
        ul {
            margin-bottom:50px;
            li {
                line-height:3;
                list-style:circle;
            }
        }
    }
}

// 매장 목록 화면 작업시작
#store_wrap {
    display:flex; justify-content:center;
    .center {
        width:80%;
        form {
            display:flex; justify-content:center;
            margin:50px 0;
        }
        button {
            background-color:#c73d40; color:#fff;
            width:200px;                     height:40px;
        }
        .search_select {
            width:70%;
            .search_box {
                display:flex; justify-content:space-between;
                select {
                    border:1px solid #000;
                    width:40%;
                    height:40px;
                }
            }
        }
        .search_input {
            width:70%;
            .search_box {
                display:flex; justify-content:space-between;
                height:40px;
                input {
                    border:1px solid #000;
                    width:80.4%;
                }
            }
        }

        .store_list {
            margin:100px 0;
            .store_box {
                padding:50px 0;
                border-top:1px solid #c73d40;
                h3 {
                    margin-bottom:20px;
                }
                p {
                    line-height:1.5;
                }
            }
            &:last-child {
                border-bottom:1px solid #c73d40;
            }
        }
    }
}

// 도넛 메뉴 작업 시작 / menu_list
#menu_wrap {
    display:flex; justify-content:center;
    .center {
        width:80%; margin:100px 0;
        .type_btns {
            display:flex; justify-content:space-between;
            width:50%; margin:0 auto 100px;
            li {
                width:15%;
                a {
                    position:relative;
                    display:inline-block;
                    text-align:center;
                    left:50%;
                    transform:translateX(-50%);
                    &::after {
                        position:absolute;
                        content:""; display:block;
                        width:0; height:1px;
                        background-color:#c73d40;
                        margin-top:5px;
                        transition:all 0.5s;
                }
                }
                &:hover {
                    a {
                        &::after {
                            width:100%;
                        }
                    }
                }
            }
            li.on{
                a{
                    color:red;
                    font-size:30px;
                    font-weight:bold;
                }
            }
        }
        .menu_list {
            display:flex; flex-wrap:wrap;
            .menu_box {
                width:20%; margin-bottom:50px;
                .img_box {
                    width:100%; height:100%;
                    img {
                        width:100%;
                    }
                }
                .text_box {
                    width:100%;
                    a {
                        position:relative;
                        display:inline-block;
                        text-align:center;
                        left:50%;
                        transform:translateX(-50%);
                        &::after {
                            position:absolute;
                            content:""; display:block;
                            width:0; height:1px;
                            background-color:#c73d40;
                            margin-top:5px;
                            transition:all 0.5s;
                        }
                    }
                }
                &:hover {
                    .text_box {
                        a {
                           &::after {
                               width:100%;
                           }
                        }
                    }
                }
            }
        }
    }
}

// 도넛 상세 페이지 / doughnut_detail
#detail_wrap {
    display:flex; justify-content:center;
    padding:100px 0;
    .center {
        width:80%;
        .top {
            width:100%;
            &::after {
                content:"";
                display:block;
                width:100%; height:4px;
                background-color:#c73d40;
            }
            h3 {
                font-size:40px; color:#c73d40;
                margin-bottom:30px;
            }
        }
        .bot {
            display:flex; justify-content:space-around;
            width:70%; margin:0 auto;
            padding:100px 0;
            .img_box {
                width:45%;
                img {
                    width:100%;
                }
            }
            .text_box {
                width:45%;
                margin:auto 0; height:100%;
                display:flex; flex-direction:column; justify-content:space-around;
                .taste {
                    margin-bottom:40px;
                }
                .sub_text {
                    font-size:11px; color:#333;
                    margin-bottom:10px;
                }
                ul {
                    border-top:25px solid #c73d40;
                    li {
                        border-bottom:1px solid #c73d40;
                        line-height:3;
                    }
                }
            }
        }
        a {
            display:block;
            text-align:center;
            // border:1px solid #c73d40;
            width:160px; margin:0 auto;
            height:50px; line-height:50px;
            color:#fff; background-color:#c73d40;
        }
    }
}

// 사용자 게시판 페이지
#board_list_wrap {
    display:flex; justify-content:center;
    margin:100px 0;
    .center {
        width:80%;
        h2 {
            font-size:40px; color:#c73d40;
            margin-bottom:50px;
        }
        .brd_wrap {
            margin:0 auto;
            width:100%;
            th {
                border-top:4px solid #c73d40;
                border-bottom:4px solid #c73d40;
                line-height:4; text-align:start;
            }
            td {
                border-bottom:1px solid #c73d40;
                line-height:4;
            }
            .number {width:10%; text-align:center;}
            .classification {width:10%;}
            .title {width:50%;}
            .date {width:30%;}
        }
    }
}
// 사용자 게시글 상세 페이지
#board_detail_wrap {
    white-space:pre;
    display:flex; justify-content:center;
    .center {
        width:80%;
        .brd_detail {
            width:100%;
            border-top:4px solid #c73d40;
            .brd_line {
                border-bottom:1px solid #c73d40;
                th {
                    line-height:3;
                }
            }
        }
        .brd_context {
            p {
                text-align:center;
                line-height:1.5;
            }
        }
        .brd_img_box {
            display:flex; justify-content:center;
        }
        a {
            display:block;
            text-align:center;
            // border:1px solid #c73d40;
            width:160px; margin:0 auto;
            height:50px; line-height:50px;
            color:#fff; background-color:#c73d40;
        }
    }
}