<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘리포니아 도넛 클럽</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <diV id="about_company">
        <div class="center">
            <h2 class="title">Calefornia Doughnut Club</h2>
            <div class="brnad_story">
                <div class="img_box">
                    <img src="/img/girl02.png">
                </div>
                <div class="text_box">
                    <h2>캘리포니아 도넛 클럽은</h2>
                    <p>캘도는 기존 비라티오 커피 매장에 샵인샵으로 런칭하였습니다. 기존에 저희는 케이크, 구움과자, 크로아상, 크로플 등 다양한 메뉴를 취급하였지만 코로나19가 시작되고 다들 위기가 찾아왔을 때 많은 고심 끝에 직원 모두가 회사의 활로를 찾기 위해서 의기투합하여 캘도를 만들게 되었습니다.</p>
                    <p>캘리포니아 도넛 클럽(이하 ‘캘도’)은 “도넛은 음식이다” 라는 생각을 바탕으로 우리는 그 누가 먹더라도 느끼하거나 질리지 않는 도넛을 만드는 것에 목표를 두었습니다. 도넛의 베이스가 되는 반죽은 계란과 버터 함량을 높여 만든 깊은 풍미의 브리오슈 반죽을 이용 하였으며, 도넛 필링으로 사용 될 베이스 크림은 매일 직접 끓여 만드는 수제 앙글레이즈드 크림을 사용하였기 때문에 먹어도 쉽게 질리지 않는 것이 캘도만의 특징입니다.</p>
                    <p>수고스러워도 원칙에 충실한 생산과정과 믿고 먹을 수 있는 있는 재료의 품질관리입니다. 기존의 도넛보다 덜 달고 기름기가 적은 제품으로 꾸준히 생각나게 하는 맛. 방부제, 화학첨가제를 전혀 섞지 않고 새로운 제품도 항상 원칙을 중시하며 캘도만의 스타일로 탄생시키고 있습니다.</p>
                </div>
            </div>
            <div class="menu_story">
                <div class="text_box">
                    <h2>캘리포니아 도넛 클럽만의<br>특별한 메뉴</h2>
                    <p>캘도만의 특별함. 시그니처 도넛인 도넛이 너무햄, 도넛에 토마토가 푹바질, 레몬 딜라이트, 크림 브륄레 도넛을 필두로 유자, 우유, 바닐라, 초코칩, 헤이즐넛, 더티초코, 옥수로 맛있는 도넛 딸기, 인절미, 흑임자, 말차, 블루베리, 복숭아, 티라미수 시나몬애플, 앙버터, 얼그레이, 어니언 등 20가지 이상입니다.</p>
                    <p>이중에서도 캐러멜라이징 식감이 매우 좋고 우유크림이 고소해서 조합이 잘 맞는 크림브륄레 크림 도넛, 얇게 저민 햄과 고메버터가 만나 단짠단짠한 맛이 특징인 도넛이 너무햄, 바질 베이스에 선드라이 토마토의 매력을 살려 입맛을 돋우는 도넛에 토마토가 푹바질을 추천드립니다.</p>
                </div>
                <div class="img_box">
                    <img src="/img/girl01.png">
                </div>
            </div>
            <div class="future_plan">
                <div class="img_box">
                    <img src="/img/stove.png">
                </div>
                <div class="text_box">
                    <h2>앞으로<br>캘리포니아 도넛 클럽은</h2>
                    <p>캘도는 팬데믹 상황에서 어렵게 시작하였지만 시장 출시 후 반응이 매우 좋아 힘들었던 순간을 다 녹이고 우리회사의 위기를 극복하였습니다. 우리가 힘들고 어려운 시기를 힘들게 헤쳐온 만큼 앞으로는 저희 브랜드와 함께 창업을 준비하시는 분들을 도와 성장시키고 함께 미래를 꿈꾸어 나가는 전문 요식업 브랜드로서 발전해 나가고 싶습니다.</p>
                </div>
            </div>
        </div>
    </diV>
    <%- include("common/footer.ejs") %>
</body>
</html>