<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 매장 목록</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/admin_header.ejs") %>
    <div id="admin_storeList">
        <div class="center">
            <!-- 매장을 등록하는 form태그 구간 -->
            <form class="add_form" action="/add/storelist" method="post">
                <div class="line">
                    <label for="name">매장 명</label>
                    <input id="name" type="text" name="name" placeholder="매장 명" required>
                </div>
                <div class="line">
                    <label for="phone">매장 전화번호</label>
                    <input id="phone" type="text" name="phone" placeholder="매장 전화번호" required>
                </div>
                <div class="line address">
                    <select id="sido" name="sido" class="sido" required>
                        <option value>시/도 선택</option>
                    </select>
                    <select name="gugun" class="gugun" required>
                        <!-- 매장 주소중 구/군 -->
                        <option value>구/군 선택</option>
                    </select>
                </div>
                <div class="line address">
                    <input type="text" id="sample4_postcode" style="display:none;" placeholder="우편번호">
                    <input type="button" onclick="sample4_execDaumPostcode()" value="주소검색">
                    <input type="text" id="sample4_roadAddress" name="detail" placeholder="도로명주소">
                    <input type="text" id="sample4_jibunAddress" style="display:none;" placeholder="지번주소">
                    <span id="guide" style="color:#999;display:none"></span>
                    <input type="text" id="sample4_detailAddress" style="display:none;" placeholder="상세주소">
                    <input type="text" id="sample4_extraAddress" style="display:none;" placeholder="참고항목">
                </div>
                <div class="line">
                    <button type="submit">매장등록</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let deleteBtn = document.querySelector(".deleteBtn");

        deleteBtn.addEventListener("click",(event) => {
            check = confirm("삭제하시겠습니까?")
            if(!check) {
                event.preventDefault();
            }
        })
    </script>
    <!-- 시/도 구/군 선택 위한 스크립트 -->
    <script src="/js/hangjungdong.js"></script>
    <script src="/js/storeselect.js"></script>
    <!-- 다음 주소검색 관련 스크립트 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/address_search.js"></script>
</body>
</html>