<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘리포티아 도넛 클럽 창업 안내</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="franchise">
        <div class="center">
            <h2 class="title">About the Franchise</h2>
            <h2>캘리포니아도넛클럽 창업비용</h2>
            <table>
                <tr>
                    <th>구분</th>
                    <th>내용</th>
                    <th>금액</th>
                </tr>
                <tr>
                    <td rowspan="3">가맹 가입비</td>
                    <td>상표 사용권 부여</td>
                    <td rowspan="3"> 400만원</td>
                </tr>
                <tr>
                    <td>점포개발 및 지역 영업권 보장</td>
                </tr>
                <tr>
                    <td>세일즈 채널 구축</td>
                </tr>
                <tr>
                    <td>로열티</td>
                    <td>프로모션 : 해당지점에 한하여 평생지원(매출액  기준 산출)</td>
                    <td>월 수익 2% (한시적면제)</td>
                </tr>
                <tr>
                    <td>교육비</td>
                    <td>기술 이전, 가맹점 운영 및 매뉴얼 제공(3주) + 오픈현장 지원4일</td>
                    <td>500만원</td>
                </tr>
                <tr>
                    <td rowspan="9">인테리어</td>
                    <td>설계 및 디자인</td>
                    <td rowspan="9">3,000만원</td>
                </tr>
                <tr>
                    <td>목공사 (천장, 바공사, 수납공간, 작업장, 기타장)</td>
                </tr>
                <tr>
                    <td>수도 및 배관 공사</td>
                </tr>
                <tr>
                    <td>전기, 조명공사(조명기기)</td>
                </tr>
                <tr>
                    <td>전기 증설 비용 별도</td>
                </tr>
                <tr>
                    <td>도장 및 페인팅</td>
                </tr>
                <tr>
                    <td>바닥 및 타일</td>
                </tr>
                <tr>
                    <td>바테이블, 수납장 등</td>
                </tr>
                <tr>
                    <td>공사감리 및 경비</td>
                </tr>
                <tr>
                    <td>기기설비</td>
                    <td>기기 설비에 따른 상세한 내용은 별도제공</td>
                    <td>5,500만원</td>
                </tr>
                <tr>
                    <td>외부</td>
                    <td>간판 및 시트디자인</td>
                    <td>400만원</td>
                </tr>
                <tr>
                    <td rowspan="2">*별도</td>
                    <td>가구, 테라스, 창호, 화장실, 외부간판 추가</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>쇼케이스, 냉난방기, 키오스크, 자동문(필요시) 등 별도</td>
                </tr>
                <tr>
                    <td>오픈/초도물품</td>
                    <td>마케팅/오픈파견지원(4일)/원부자재</td>
                    <td>200만원</td>
                </tr>
                <tr>
                    <td colspan="2">총 계</td>
                    <td>10,000만원+별도사항</td>
                </tr>
            </table>
            <h2>캘리포니아도넛클럽이 드리는 말씀</h2>
            <p>캘리포니아 도넛 클럽의 가맹 개설 비용중 가장 높은 비용을 차지하는 부분은 기기설비 부분 입니다. 캘도의 가맹점은 전수 창업을 기반으로 하고 있습니다. 따라서 모든 가맹 점주님들께서 제빵사가 되는 과정 교육을 받으시고 완벽한 도넛을 만들어 내기위해 불철주야 노력 하십니다. 완벽한 도넛을 만들어 내기 위한 과정중 필요한 생산설비 또한 중요 하기에 캘도는 반죽기. 도우컨. 오픈 등 고가의 설비들이 셋팅 됨에 따라 창업 비용이 크다는 점을 안내해 드립니다.</p>
            <p>캘도의 집기 셋팅 기준은 일 평균 생산량을 기반으로 기기설비 셋팅을 합니다. 일 최대 생산량 500~600개 까지 커버가 가능하며, 각 지점 일평균 생산량은 약 250개 기준입니다. 월 평균 매출 2500~3000천만원 이며, 순수익은 45~50% 결과를 내고 있습니다.</p>
            <h2>캘리포니아도넛클럽 가맹점 진행 상황 <span>9.26일 기준</span></h2>
            <ul>
                <li>캘도 청주점 가맹오픈 준비중.</li>
                <li>캘도 서울지역 가맹오픈 준비중.</li>
                <li>캘도 전북,인천, 수원,경남 지역 가맹오픈 상담중.</li>
            </ul>
            <p>그 밖에 상담 문의는 지속적으로 진행하고 있습니다. 저희 캘도는 오토매장 운영은 절대 내어드리지 않습니다. 점주분이 직접 운영해야만 창업이 가능한점 양해 부탁 드립니다.</p>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>