<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘리포니아 도넛클럽</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <%- include("common/carousel") %>
    <div id="container">
        <div class="slider">
            <div class="center">
                <div class="btns">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="view">
                    <div class="slice01"></div>
                    <div class="slice02"></div>
                    <div class="slice03"></div>
                </div>
            </div>
        </div>
        <div class="new_product">
            <div class="corn">
                <div class="left"></div>
                <div class="mid"></div>
                <div class="right"></div>
            </div>
            <div class="basil_tomato">
                <div class="left"></div>
                <div class="mid"></div>
                <div class="right"></div>
            </div>
            <div class="salt">
                <div class="left"></div>
                <div class="mid"></div>
                <div class="right"></div>
            </div>
            <div class="chocolate">
                <div class="left"></div>
                <div class="mid"></div>
                <div class="right"></div>
            </div>
            <div class="blueberry">
                <div class="left"></div>
                <div class="mid"></div>
                <div class="right"></div>
            </div>
        </div>
        <div class="bake_count">
            <div class="center">
                <h2>Always New,<br>Always Fresh.</h2>
                <div class="count">
                    <h3>오늘도 새로운 도넛을</h3><span>00</span>만큼 구웠습니다.
                </div>
                <div class="right"><img src=""></div>
            </div>
        </div>
        <div class="news">
            <div class="center">
                <div class="view">
                    <div class="box">
                        <div class="img_box">
                            <img src="">
                        </div>
                        <div class="text_box">
                            <h4>NEWS</h4>
                            <p>다음 오픈 매장은 청주점 입니다</p>
                            <h4> ~ 2022/12/03</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img_box">
                            <img src="">
                        </div>
                        <div class="text_box">
                            <h4>NEWS</h4>
                            <p>캘도 본점 단축 영업 안내</p>
                            <h4>2022/10/19 ~ 2022/10/20</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img_box">
                            <img src="">
                        </div>
                        <div class="text_box">
                            <h4>NEWS</h4>
                            <p>캘도 덕이 본점 새로운 소식</p>
                            <h4>2022/10/12 ~</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location">
            <!-- 카카오 지도 라이브러리 -->
        </div>
    </div>
    <%- include("common/carousel") %>
    <%- include("common/footer.ejs") %>
</body>
</html>