<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캘리포니아 도넛클럽</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <%- include("common/carousel") %>
    <div id="container">
        <div class="slider">
            <div class="center">
                <div class="view">
                    <div class="btns">
                        <div class="point_btns">
                            <img class="left" src="/img/left.png">
                            <img class="right" src="/img/right.png">
                        </div>
                        <div class="circle_btns">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="wide">
                        <div class="slide01"></div>
                        <div class="slide02"></div>
                        <div class="slide03"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new_product">
            <div class="center">
                <h2>Limited Time</h2>
                <div class="new_prd_list">
                    <ul class="left_box">
                        <li><a href="#">애플파이 도넛 ..... 2,000</li></a>
                        <li><a href="#">호박파이 도넛 ..... 3,000</li></a>
                        <li><a href="#">피칸파이 도넛 ..... 3,500</li></a>
                        <li><a href="#">뉴욕 치즈케이크 도넛 ..... 3,000</li></a>
                        <li><a href="#">더블 초코 도넛 ..... 2,000</li></a>
                        <li><a href="#">사우어 크림 도넛 ..... 2,000</li></a>
                    </ul>
                    <div class="right_box">
                        <div class="applePie show">
                            <h3>애플파이 도넛</h3>
                            <p>달콤, 상큼한 사과의 풍미와 바삭한 파이 식감의 도넛</p>
                            <p>영양정보: 1회 제공량 1개(60g) 열량 240kcal<br>당류 16g 단백질 1g 포화지방 4.1g 나트륨 160mg</p>
                            <p>알레르기 정보: 밀, 대두, 계란, 우유</p>
                        </div>
                        <div class="pumkinPie">
                            <h3>호박파이 도넛</h3>
                            <p>달콤, 고소한 호박의 풍미와 부드러운 식감의 도넛</p>
                            <p>1회 제공량 1개(61g) 열량 240kcal<br>당류 16g 단백질 1g 포화지방 4.1g 나트륨 170mg</p>
                            <p>알레르기 정보: 밀, 대두, 계란, 우유</p>
                        </div>
                        <div class="pecanPie">
                            <h3>피칸파이 도넛</h3>
                            <p>달콤, 바삭한 피칸의 풍미에 시나몬의 풍미를 더한 부드러운 식감의 도넛</p>
                            <p>1회 제공량 1개(61g) 열량 240kcal<br>당류 16g 단백질 1g 포화지방 4.1g 나트륨 170mg</p>
                            <p>알레르기 정보: 밀, 대두, 계란, 우유</p>
                        </div>
                        <div class="newyorkCheeseCake">
                            <h3>뉴욕 치즈케이크 도넛</h3>
                            <p>부드러운 치즈 크림과 부드러운 도넛이 조화를 이룬 이국적인 맛의 도넛</p>
                            <p>1회 제공량 1개(61g) 열량 240kcal<br>당류 16g 단백질 1g 포화지방 4.1g 나트륨 170mg</p>
                            <p>알레르기 정보: 밀, 대두, 계란, 우유</p>
                        </div>
                        <div class="doubleChocolate">
                            <h3>더블 초코 도넛</h3>
                            <p>달콤한 초콜릿 코팅에 초콜릿 크림을 더해 두배로 달콤해진 초콜릿 도넛</p>
                            <p>1회 제공량 1개(61g) 열량 240kcal<br>당류 16g 단백질 1g 포화지방 4.1g 나트륨 170mg</p>
                            <p>알레르기 정보: 밀, 대두, 계란, 우유</p>
                        </div>
                        <div class="sourCream">
                            <h3>사우어 크림 도넛</h3>
                            <p>오븐에 한번 굽고 사우어크림을 입혀 한번 더 구워낸 상큼한 도넛</p>
                            <p>1회 제공량 1개(61g) 열량 240kcal<br>당류 16g 단백질 1g 포화지방 4.1g 나트륨 170mg</p>
                            <p>알레르기 정보: 밀, 대두, 계란, 우유</p>
                        </div>
                    </div>
                    <div class="mid_box">
                        <div class="applePie show">
                            <img src="/img/ApplePie.png">
                        </div>
                        <div class="pumkinPie">
                            <img src="/img/PumpkinPie.png">
                        </div>
                        <div class="pecanPie">
                            <img src="/img/PecanPie.png">
                        </div>
                        <div class="newyorkCheeseCake">
                            <img src="/img/New-York-Cheesecake.png">
                        </div>
                        <div class="doubleChocolate">
                            <img src="/img/Double-Dark-Chocolate.png">
                        </div>
                        <div class="sourCream">
                            <img src="/img/Sour-Cream-Cake-Doughnut.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bake_count">
            <div class="center">
                <h2>Always New,<br>Always Fresh.</h2>
                <div class="count_list">
                    <div class="count">
                        <h3>캘리포니아 도넛 클럽에서 매일 새로운 도넛을 즐겨보세요</h3>
                        <p>캘리포니아 도넛 클럽은 매일 하루에 두번 도넛을 만듭니다.<br>매일 아침 9시와 오후 1시에 오시면 갓 만든 따듯한 도넛을 드실수 있습니다.</p>
                        <p>도넛 만드는 시간은 일부 매장에 따라 변경될 수 있습니다.<br>자세한 소식은 각 매장에 직접 문의하세요.</p>
                        <h3 class="today_count">오늘도 새로운 도넛을<span>00</span>만큼 구웠습니다.</h3>
                    </div>
                    <div class="right"><img src="/img/baking01.jpg"></div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="center">
                <h2>News & Events</h2>
                <div class="news_boxs">
                    <div class="left_img">
                        <img src="/img/baking02.jpg">
                    </div>
                    <div class="view">
                        <div class="btns">
                            <img class="down" src="/img/down.png">
                            <img class="up" src="/img/up.png">
                        </div>
                        <div class="boxs">
                            <div class="box">
                                <p>NEWS</p>
                                <h4>다음 오픈 매장은 청주점 입니다</h4>
                                <p> ~ 2022/12/03</p>
                                <img src="/img/right_b.png">
                            </div>
                            <div class="box">
                                <p>NEWS</p>
                                <h4>캘도 본점 단축 영업 안내</h4>
                                <p>2022/10/19 ~ 2022/10/20</p>
                                <img src="/img/right_b.png">
                            </div>
                            <div class="box">
                                <p>NEWS</h4>
                                <h4>캘도 덕이 본점 새로운 소식</h4>
                                <p>2022/10/12 ~</p>
                                <img src="/img/right_b.png">
                            </div>
                            <div class="box">
                                <p>NEWS</p>
                                <h4>+1 도넛 증정 이벤트</h4>
                                <p>2022/09/28 ~ 2022/10/01</p>
                                <img src="/img/right_b.png">
                            </div>
                            <div class="box">
                                <p>NEWS</p>
                                <h4>신세계백화점 천안아산점 팝업스토어 오픈</h4>
                                <p>2022/09/12 ~ 2022/09/26</p>
                                <img src="/img/right_b.png">
                            </div>
                            <div class="box last_box">
                                <p>NEWS</p>
                                <h4>현대 프리미엄 아울렛 김포점 팝업스토어 오픈</h4>
                                <p>2022/09/01 ~ 2022/09/15</p>
                                <img src="/img/right_b.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location">
            <div class="center">
                <h2>Welcome to California Doughnut Club</h2>
                <!-- 카카오 지도 라이브러리 -->
                <div class="map"></div>
            </div>
        </div>
    </div>
    <%- include("common/carousel") %>
    <%- include("common/footer.ejs") %>
</body>
</html>