* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img, video {
  vertical-align: middle;
}

input, select, textarea {
  outline: 0;
  border: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  background-color: #fbf9e5;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  border: none;
}

input {
  outline: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}
header .center {
  width: 80%;
  padding: 15px 0;
}
header .center .logo a img {
  width: 200px;
}
header .center .mobile_header {
  display: none;
}
header .center .mobile_header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .center .mobile_header .top .btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 99;
}
header .center .mobile_header .top .btn span {
  display: block;
  margin: 5px 0;
  width: 40px;
  height: 2px;
  background-color: #c73d40;
  transition: all 0.5s;
}
header .center .mobile_header .top .btn .mid_span.on {
  transform: translateX(30px);
  opacity: 0;
}
header .center .mobile_header .top .btn .first_span.on {
  transform: rotate(45deg) translateX(17px);
  background-color: #fff;
}
header .center .mobile_header .top .btn .last_span.on {
  transform: rotate(-45deg) translateX(17px);
  background-color: #fff;
}
header .center .mobile_header .right_menu {
  transition: all 0.5s;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  height: 100vh;
  z-index: 98;
  background-color: #c73d40;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .center .mobile_header .right_menu .ham_gnb {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  justify-content: space-between;
}
header .center .mobile_header .right_menu .ham_gnb > li {
  margin-bottom: 50px;
}
header .center .mobile_header .right_menu .ham_gnb > li .engMenu {
  display: none;
}
header .center .mobile_header .right_menu .ham_gnb > li > a {
  color: #fff;
  font-size: 25px;
  margin-bottom: 30px;
  display: block;
}
header .center .mobile_header .right_menu .ham_gnb > li .ham_sub_gnb {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
header .center .mobile_header .right_menu .ham_gnb > li .ham_sub_gnb li {
  line-height: 2.5;
}
header .center .mobile_header .right_menu .ham_gnb > li .ham_sub_gnb li a {
  color: #fff;
}
header .center .mobile_header .right_menu .sns {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
header .center .mobile_header .right_menu .sns li {
  margin: 0 10px;
}
header .center .mobile_header .right_menu .sns li a {
  font-size: 35px;
  color: #fff;
  opacity: 0.7;
}
header .center .desktop_header {
  justify-content: space-between;
  align-items: center;
}
header .center .desktop_header .subGnb_bg {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 98;
}
header .center .desktop_header .gnb {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .center .desktop_header .gnb > li {
  position: relative;
  text-align: center;
  width: 15%;
}
header .center .desktop_header .gnb > li:hover .engMenu {
  opacity: 0;
}
header .center .desktop_header .gnb > li:hover .korMenu {
  opacity: 1;
}
header .center .desktop_header .gnb > li > a span {
  width: 100%;
  transition: all 0.2s;
}
header .center .desktop_header .gnb > li > a .korMenu {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
}
header .center .desktop_header .gnb > li:hover .sub_gnb {
  height: 150px;
}
header .center .desktop_header .gnb > li .sub_gnb {
  position: absolute;
  width: 100%;
  padding-top: 35px;
  overflow: hidden;
  height: 0;
  transition: all 0.5s;
  z-index: 99;
}
header .center .desktop_header .gnb > li .sub_gnb li a {
  line-height: 1.5;
}
header .center .blur_bg {
  display: none;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 90.67px;
  left: 0;
  background-color: #fff;
  transition: all 0.5s;
}

footer {
  background-color: #333;
  display: flex;
  justify-content: center;
}
footer .center {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
footer .center .logo a img {
  width: 200px;
}
footer .center .sns {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 30px 0;
}
footer .center .sns li a {
  font-size: 35px;
  color: #fff;
  opacity: 0.7;
}
footer .center .address {
  display: flex;
  flex-wrap: wrap;
}
footer .center .address li {
  font-size: 13px;
  color: #ccc;
}
footer .center .address li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 13px;
  background-color: #ccc;
  transform: translateY(2px);
  margin: 0 10px;
}
footer .center .address li:last-child {
  transform: translateY(2px);
}
footer .center .address li:last-child::after {
  display: none;
}
footer .center .copyright {
  font-size: 13px;
  color: #ccc;
}

.carousel_wrap {
  display: flex;
  justify-content: center;
}
.carousel_wrap .center {
  width: 80%;
  overflow: hidden;
  display: flex;
}
.carousel_wrap .center .carousel {
  display: flex;
  white-space: nowrap;
}
.carousel_wrap .center .carousel > div {
  display: inline-flex;
}
.carousel_wrap .center .carousel span {
  display: block;
  box-sizing: border-box;
  margin: 0 15px;
}
.carousel_wrap .center .carousel .red {
  color: hotpink;
}
.carousel_wrap .center .carousel .blue {
  color: blue;
}
.carousel_wrap .center .carousel .play {
  -webkit-animation: textSlide 10s linear infinite;
          animation: textSlide 10s linear infinite;
}
@-webkit-keyframes textSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes textSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.updateForm {
  display: none;
}

#admin_header {
  display: flex;
  justify-content: center;
}
#admin_header .center {
  width: 80%;
}
#admin_header .center .top_line {
  padding: 20px 0;
  display: flex;
  justify-content: end;
}
#admin_header .center .top_line p::after {
  content: "";
  display: inline-block;
  transform: translateY(2px);
  width: 2px;
  height: 15px;
  background: #000;
  margin: 0 10px;
}
#admin_header .center .bot_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admin_header .center .bot_line .logo {
  width: 200px;
}
#admin_header .center .bot_line .logo img {
  width: 100%;
}
#admin_header .center .bot_line .gnb {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

#admin_login {
  display: flex;
  justify-content: center;
}
#admin_login .center {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#admin_login .center a {
  margin-bottom: 30px;
}
#admin_login .center form {
  display: flex;
  flex-direction: column;
}
#admin_login .center form .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#admin_login .center form .line input {
  border: 1px solid #ddd;
}
#admin_login .center form button {
  border: 1px solid #666;
}

#admin_prdlist {
  display: flex;
  justify-content: center;
}
#admin_prdlist .center {
  width: 80%;
}
#admin_prdlist .center input, #admin_prdlist .center select, #admin_prdlist .center button, #admin_prdlist .center textarea {
  border: 1px solid #000;
}
#admin_prdlist .center .add_prd {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}
#admin_prdlist .center .add_prd .line {
  margin: 10px 0;
}
#admin_prdlist .center .add_prd .line input, #admin_prdlist .center .add_prd .line select, #admin_prdlist .center .add_prd .line button, #admin_prdlist .center .add_prd .line textarea {
  width: 100%;
}
#admin_prdlist .center .prdList {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}
#admin_prdlist .center .prdList li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #000;
  transform: translateY(2px);
  margin: 0 50px;
}
#admin_prdlist .center .prdList li:last-child::after {
  display: none;
}
#admin_prdlist .center .prdwrap:last-child {
  border-bottom: 1px solid #000;
}
#admin_prdlist .center .prdwrap .list {
  border-top: 1px solid #000;
  padding: 50px 0;
  white-space: pre-line;
}
#admin_prdlist .center .prdwrap .list .btns {
  margin-top: 20px;
  display: flex;
}
#admin_prdlist .center .prdwrap .list .btns a {
  border: 1px solid #000;
  margin-right: 10px;
}
#admin_prdlist .center .prdwrap .updateForm .flex_form {
  display: flex;
  flex-direction: column;
}

#admin_storeList {
  display: flex;
  justify-content: center;
}
#admin_storeList input, #admin_storeList select, #admin_storeList button {
  border: 1px solid #000;
}
#admin_storeList .center {
  width: 80%;
}
#admin_storeList .center .add_form {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}
#admin_storeList .center .add_form .line {
  margin: 10px 0;
}
#admin_storeList .center .add_form .line input, #admin_storeList .center .add_form .line select, #admin_storeList .center .add_form .line button {
  width: 100%;
}
#admin_storeList .center .add_form .address {
  display: flex;
  justify-content: space-between;
}
#admin_storeList .center .add_form .address input, #admin_storeList .center .add_form .address select, #admin_storeList .center .add_form .address button {
  width: 49%;
}
#admin_storeList .center .storewrap:last-child {
  border-bottom: 1px solid #000;
}
#admin_storeList .center .storewrap .list {
  border-top: 1px solid #000;
  padding: 50px 0;
}
#admin_storeList .center .storewrap .list .btns {
  margin-top: 20px;
}
#admin_storeList .center .storewrap .list .btns a {
  border: 1px solid #000;
}
#admin_storeList .center .storewrap .list .updateForm .line {
  margin: 10px 0;
}
#admin_storeList .center .storewrap .list .updateForm .line input, #admin_storeList .center .storewrap .list .updateForm .line select, #admin_storeList .center .storewrap .list .updateForm .line button {
  width: 100%;
}
#admin_storeList .center .storewrap .list .updateForm .address {
  display: flex;
  justify-content: space-between;
}
#admin_storeList .center .storewrap .list .updateForm .address input, #admin_storeList .center .storewrap .list .updateForm .address select, #admin_storeList .center .storewrap .list .updateForm .address button {
  width: 49%;
}

.paging_wrap {
  display: flex;
  justify-content: space-around;
  margin: 15px auto;
}
.paging_wrap .line {
  display: flex;
}
.paging_wrap .line li {
  margin: 0 15px;
}
.paging_wrap .line li:hover a {
  text-decoration: underline;
}
.paging_wrap .line li.pagingOn a {
  color: #c73d40;
  font-weight: bold;
}

#board_list_wrap .center .add_btn {
  display: block;
  text-align: center;
  width: 160px;
  margin: 30px auto;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #c73d40;
}

#board_detail_wrap .detail_btns {
  border-top: 4px solid #c73d40;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
#board_detail_wrap .detail_btns a {
  display: block;
  text-align: center;
  width: 160px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #c73d40;
}

#board_insert_wrap, #board_edit_wrap {
  display: flex;
  justify-content: center;
}
#board_insert_wrap .center, #board_edit_wrap .center {
  width: 80%;
}
#board_insert_wrap .center form input, #board_insert_wrap .center form select, #board_insert_wrap .center form button, #board_insert_wrap .center form textarea, #board_edit_wrap .center form input, #board_edit_wrap .center form select, #board_edit_wrap .center form button, #board_edit_wrap .center form textarea {
  border: 1px solid #000;
  width: 100%;
}
#board_insert_wrap .center form textarea, #board_edit_wrap .center form textarea {
  height: 500px;
}

#container > div {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
#container > div .center {
  width: 80%;
}
#container > div .center h2 {
  font-size: 60px;
  margin-bottom: 80px;
}
#container .slider {
  margin: 0;
}
#container .slider .center {
  width: 100%;
}
#container .slider .center .view {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
#container .slider .center .view:hover .btns .point_btns img {
  opacity: 1;
}
#container .slider .center .view:hover .btns .point_btns .left {
  left: 20px;
}
#container .slider .center .view:hover .btns .point_btns .right {
  right: 20px;
}
#container .slider .center .view .btns .point_btns img {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0;
}
#container .slider .center .view .btns .point_btns .left {
  left: -100px;
}
#container .slider .center .view .btns .point_btns .right {
  right: -100px;
}
#container .slider .center .view .btns .circle_btns {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#container .slider .center .view .btns .circle_btns span {
  display: inline-block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-color: #c73d40;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
#container .slider .center .view .btns .circle_btns .on {
  background-color: #fff;
  opacity: 1;
}
#container .slider .center .view .wide {
  display: flex;
  width: 300%;
  transition: all 0.5s;
  margin-left: 0;
}
#container .slider .center .view .wide > div {
  width: 33.333333%;
  display: flex;
}
#container .slider .center .view .wide > div img {
  margin: 0 auto;
  width: 100%;
}
#container .carousel {
  display: flex;
  justify-content: center;
}
#container .carousel h2 {
  color: #c73d40;
}
#container .carousel .center {
  overflow: hidden;
}
#container .carousel .center .img_boxs {
  width: 100%;
  position: relative;
  z-index: 1;
}
#container .carousel .center .img_boxs img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}
#container .carousel .center .img_boxs .show {
  opacity: 0.3;
}
#container .carousel .center .text_boxs {
  z-index: 10;
}
#container .carousel .center .text_boxs .line {
  display: flex;
  white-space: nowrap;
}
#container .carousel .center .text_boxs .line > div {
  display: inline-flex;
}
#container .carousel .center .text_boxs .line span {
  display: block;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 60px;
  z-index: 10;
}
#container .carousel .center .text_boxs .line .red {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e8006c;
}
#container .carousel .center .text_boxs .line .blue {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6dc4d8;
}
#container .carousel .center .more {
  margin-top: 100px;
  display: block;
  color: #000;
  text-align: center;
}
#container .new_product .center {
  overflow: hidden;
}
#container .new_product .center h2 {
  color: #c73d40;
}
#container .new_product .center .new_prd_list {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 500px;
}
#container .new_product .center .new_prd_list .left_boxs {
  width: 47%;
  border: 2px solid #c73d40;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 0 0 50px;
  box-sizing: border-box;
}
#container .new_product .center .new_prd_list .left_boxs .box p {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 1.5;
  transition: all 0.5s;
  color: #666;
}
#container .new_product .center .new_prd_list .left_boxs .box p::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #c73d40;
  transition: all 0.5s;
}
#container .new_product .center .new_prd_list .left_boxs .box p:hover::after {
  width: 100%;
}
#container .new_product .center .new_prd_list .left_boxs .box.on p {
  font-size: 20px;
  color: #000;
}
#container .new_product .center .new_prd_list .left_boxs .box.on p::after {
  width: 100%;
}
#container .new_product .center .new_prd_list .mid_boxs .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  opacity: 0;
  z-index: 10;
}
#container .new_product .center .new_prd_list .mid_boxs .box.show {
  opacity: 1;
}
#container .new_product .center .new_prd_list .right_boxs {
  width: 47%;
  border: 2px solid #c73d40;
  border-radius: 25px;
  position: relative;
}
#container .new_product .center .new_prd_list .right_boxs .box {
  width: 65%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 50px;
  opacity: 0;
  text-align: right;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#container .new_product .center .new_prd_list .right_boxs .box p {
  line-height: 3;
  white-space: pre-line;
}
#container .new_product .center .new_prd_list .right_boxs .box.show {
  opacity: 1;
  top: 50%;
}
#container .new_product .center .mobile_prd_list {
  display: none;
  align-items: center;
  width: 200%;
  transition: all 0.5s;
}
#container .new_product .center .mobile_prd_list .prd_box {
  width: 33.333333%;
}
#container .new_product .center .mobile_prd_list .prd_box a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container .new_product .center .mobile_prd_list .prd_box a img {
  width: 100%;
}
#container .bake_count {
  background-color: #c73d40;
  padding: 50px 0;
}
#container .bake_count .center {
  border: 1px solid #fbf9e5;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
}
#container .bake_count .center h2 {
  color: #fbf9e5;
}
#container .bake_count .center .count_list {
  display: flex;
  justify-content: space-between;
}
#container .bake_count .center .count_list .count {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
#container .bake_count .center .count_list .count .today_count {
  border-top: 10px double #fbf9e5;
  border-bottom: 10px double #fbf9e5;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
  font-size: 45px;
  color: #fbf9e5;
}
#container .bake_count .center .count_list .count .today_count br {
  display: none;
}
#container .bake_count .center .count_list .count .today_count span {
  font-size: 60px;
}
#container .bake_count .center .count_list .count p {
  line-height: 2;
  color: #fbf9e5;
}
#container .news .center h2 {
  color: #c73d40;
}
#container .news .center .news_boxs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#container .news .center .news_boxs .left_img {
  width: 47%;
  margin: auto 0;
}
#container .news .center .news_boxs .left_img img {
  width: 100%;
}
#container .news .center .news_boxs .view {
  margin: auto 0;
  width: 47%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 875px;
  overflow: hidden;
  border-top: 4px solid #c73d40;
  border-bottom: 4px solid #c73d40;
}
#container .news .center .news_boxs .view:hover .btns .up {
  top: 20px;
}
#container .news .center .news_boxs .view:hover .btns .down {
  bottom: 20px;
}
#container .news .center .news_boxs .view .btns img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 10;
}
#container .news .center .news_boxs .view .btns .up {
  top: -100px;
}
#container .news .center .news_boxs .view .btns .down {
  bottom: -100px;
}
#container .news .center .news_boxs .view .boxs {
  transition: all 0.5s;
}
#container .news .center .news_boxs .view .boxs .box {
  padding: 50px 0 50px 30px;
  border-top: 1px solid #c73d40;
  position: relative;
  cursor: pointer;
}
#container .news .center .news_boxs .view .boxs .box a {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 300;
  display: block;
}
#container .news .center .news_boxs .view .boxs .box p {
  font-size: 12px;
}
#container .news .center .news_boxs .view .boxs .box img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
#container .news .center .news_boxs .view .boxs .last_box {
  border-bottom: 1px solid #c73d40;
}
#container .location {
  display: none;
}
#container .location .center .map {
  width: 100%;
  height: 650px;
  background-color: green;
}
#container .location .center a {
  display: block;
  margin: 30px 0;
  text-align: center;
}

#about_company h2 {
  color: #c73d40;
}
#about_company .title {
  font-size: 60px;
  margin: 80px 0;
  text-align: center;
}
#about_company .box {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
#about_company .box .center {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#about_company .box .center .img_box {
  width: 45%;
}
#about_company .box .center .img_box img {
  width: 100%;
}
#about_company .box .center .text_box {
  width: 45%;
}
#about_company .box .center .text_box h2 {
  font-size: 40px;
  margin-bottom: 80px;
}
#about_company .box .center .text_box p {
  line-height: 1.5;
  margin-bottom: 50px;
  color: #333;
}
#about_company .menu_story {
  background-color: #c73d40;
  padding: 100px 0;
}
#about_company .menu_story .center .text_box h2 {
  color: #fbf9e5;
}
#about_company .menu_story .center .text_box p {
  line-height: 1.5;
  margin-bottom: 50px;
  color: #fbf9e5;
}
#franchise {
  display: flex;
  justify-content: center;
}
#franchise .center {
  width: 80%;
}
#franchise .center h2 {
  color: #c73d40;
}
#franchise .center .title {
  font-size: 60px;
  margin: 80px 0;
  text-align: center;
}
#franchise .center table {
  width: 100%;
}
#franchise .center table tr th {
  border: 1px solid #c73d40;
  line-height: 5;
}
#franchise .center table tr td {
  border: 1px solid #c73d40;
  line-height: 5;
  padding-left: 10px;
}
#franchise .center h2 {
  font-size: 40px;
  margin: 80px 0;
}
#franchise .center h2 span {
  font-size: 18px;
  font-weight: 300;
}
#franchise .center p {
  line-height: 1.5;
  margin-bottom: 50px;
}
#franchise .center ul {
  margin-bottom: 50px;
}
#franchise .center ul li {
  line-height: 3;
  list-style: circle;
}

#menu_wrap {
  display: flex;
  justify-content: center;
}
#menu_wrap .center {
  width: 80%;
  margin: 100px 0;
}
#menu_wrap .center .type_btns {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto 100px;
}
#menu_wrap .center .type_btns li {
  width: 15%;
}
#menu_wrap .center .type_btns li a {
  position: relative;
  display: inline-block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: #666;
  transition: all 0.5s;
}
#menu_wrap .center .type_btns li a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #c73d40;
  margin-top: 5px;
  transition: all 0.5s;
}
#menu_wrap .center .type_btns li:hover a {
  color: #c73d40;
  font-weight: bold;
}
#menu_wrap .center .type_btns li:hover a::after {
  width: 100%;
}
#menu_wrap .center .type_btns li.on a {
  color: #c73d40;
  font-weight: bold;
}
#menu_wrap .center .menu_list {
  display: flex;
  flex-wrap: wrap;
}
#menu_wrap .center .menu_list .menu_box {
  width: 20%;
  margin-bottom: 50px;
}
#menu_wrap .center .menu_list .menu_box .img_box {
  width: 100%;
  height: 100%;
}
#menu_wrap .center .menu_list .menu_box .img_box img {
  width: 100%;
}
#menu_wrap .center .menu_list .menu_box .text_box {
  width: 100%;
}
#menu_wrap .center .menu_list .menu_box .text_box a {
  position: relative;
  display: inline-block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
#menu_wrap .center .menu_list .menu_box .text_box a::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #c73d40;
  margin-top: 5px;
  transition: all 0.5s;
}
#menu_wrap .center .menu_list .menu_box:hover .text_box a::after {
  width: 100%;
}

#detail_wrap {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
#detail_wrap .center {
  width: 80%;
}
#detail_wrap .center .top {
  width: 100%;
}
#detail_wrap .center .top::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #c73d40;
}
#detail_wrap .center .top h3 {
  font-size: 40px;
  color: #c73d40;
  margin-bottom: 30px;
}
#detail_wrap .center .bot {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 100px 0;
}
#detail_wrap .center .bot .img_box {
  width: 45%;
  display: flex;
  justify-content: center;
}
#detail_wrap .center .bot .text_box {
  width: 45%;
  margin: auto 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#detail_wrap .center .bot .text_box .taste {
  margin-bottom: 40px;
  white-space: pre-line;
}
#detail_wrap .center .bot .text_box .sub_text {
  font-size: 11px;
  color: #333;
  margin-bottom: 10px;
}
#detail_wrap .center .bot .text_box ul {
  border-top: 25px solid #c73d40;
}
#detail_wrap .center .bot .text_box ul li {
  border-bottom: 1px solid #c73d40;
  line-height: 3;
}
#detail_wrap .center a {
  display: block;
  text-align: center;
  width: 160px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #c73d40;
}

#store_wrap {
  display: flex;
  justify-content: center;
}
#store_wrap .center {
  width: 80%;
}
#store_wrap .center form {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
#store_wrap .center button {
  background-color: #c73d40;
  color: #fff;
  width: 200px;
  height: 40px;
}
#store_wrap .center .search_select {
  width: 70%;
}
#store_wrap .center .search_select .search_box {
  display: flex;
  justify-content: space-between;
}
#store_wrap .center .search_select .search_box select {
  border: 1px solid #000;
  width: 40%;
  height: 40px;
}
#store_wrap .center .search_input {
  width: 70%;
}
#store_wrap .center .search_input .search_box {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
#store_wrap .center .search_input .search_box input {
  border: 1px solid #000;
  width: 80.4%;
}
#store_wrap .center .store_list {
  margin: 100px 0;
}
#store_wrap .center .store_list .store_box {
  padding: 50px 0;
  border-top: 1px solid #c73d40;
}
#store_wrap .center .store_list .store_box h3 {
  margin-bottom: 20px;
}
#store_wrap .center .store_list .store_box p {
  line-height: 1.5;
}
#store_wrap .center .store_list:last-child {
  border-bottom: 1px solid #c73d40;
}
#store_wrap .center .no_store {
  margin-bottom: 50px;
}

#board_list_wrap {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
#board_list_wrap .center {
  width: 80%;
}
#board_list_wrap .center h2 {
  font-size: 40px;
  color: #c73d40;
  margin-bottom: 50px;
}
#board_list_wrap .center .brd_wrap {
  margin: 0 auto;
  width: 100%;
}
#board_list_wrap .center .brd_wrap th {
  border-top: 4px solid #c73d40;
  border-bottom: 4px solid #c73d40;
  line-height: 4;
  text-align: start;
}
#board_list_wrap .center .brd_wrap td {
  border-bottom: 1px solid #c73d40;
  line-height: 4;
}
#board_list_wrap .center .brd_wrap .number {
  width: 10%;
  text-align: center;
}
#board_list_wrap .center .brd_wrap .classification {
  width: 10%;
}
#board_list_wrap .center .brd_wrap .date {
  width: 30%;
}

#board_detail_wrap {
  white-space: pre-line;
  display: flex;
  justify-content: center;
}
#board_detail_wrap .center {
  width: 80%;
}
#board_detail_wrap .center .brd_detail {
  width: 100%;
  border-top: 4px solid #c73d40;
}
#board_detail_wrap .center .brd_detail .brd_line {
  border-bottom: 1px solid #c73d40;
}
#board_detail_wrap .center .brd_detail .brd_line th {
  line-height: 3;
}
#board_detail_wrap .center .brd_context p {
  text-align: center;
  line-height: 1.5;
}
#board_detail_wrap .center .brd_img_box {
  margin: 0 auto;
  width: 70%;
}
#board_detail_wrap .center .brd_img_box img {
  width: 100%;
}
#board_detail_wrap .center a {
  display: block;
  text-align: center;
  width: 160px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #c73d40;
}

@media (max-width: 1200px) {
  footer .center {
    padding: 70px 0;
    height: auto;
  }
  footer .center .logo {
    margin-bottom: 50px;
  }
  footer .center .sns {
    margin-bottom: 50px;
  }
  footer .center .address {
    display: block;
    margin-bottom: 50px;
  }
  footer .center .address li {
    text-align: center;
    line-height: 2;
  }
  footer .center .address li::after {
    display: none;
  }
  #container .new_product .center .new_prd_list .right_boxs .box {
    width: 60%;
  }
  #container .new_product .center .new_prd_list .right_boxs .box p {
    line-height: 1.5;
  }
  #container .bake_count .center .count_list .count .today_count br {
    display: block;
  }
  #store_wrap .center form .search_select {
    width: 80%;
  }
  #store_wrap .center form .search_input {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  header {
    position: fixed;
    z-index: 99;
  }
  header .center .desktop_header {
    display: none;
  }
  header .center .mobile_header {
    display: block;
  }
  footer .center .sns {
    width: 85%;
  }
  #container {
    padding-top: 90.67px;
  }
  #container > div .center {
    width: 90%;
  }
  #container .new_product .center .new_prd_list {
    display: none;
  }
  #container .new_product .center .mobile_prd_list {
    display: flex;
  }
  #container .bake_count .center .count_list .count .today_count {
    line-height: 1.5;
    font-size: 40px;
  }
  #container .bake_count .center .count_list .count .today_count br {
    display: block;
  }
  #container .bake_count .center .count_list .count .today_count span {
    font-size: 100px;
    margin: 10px 0;
  }
  #container .news .center .news_boxs .left_img {
    display: none;
  }
  #container .news .center .news_boxs .view {
    width: 100%;
    height: 700px;
  }
  #container .news .center .news_boxs .view .boxs {
    transform: translateY(-1px);
  }
  #about_company {
    padding-top: 90.67px;
  }
  #franchise {
    padding-top: 90.67px;
  }
  #menu_wrap {
    padding-top: 90.67px;
  }
  #menu_wrap .center {
    width: 90%;
  }
  #menu_wrap .center .menu_list .menu_box {
    width: 25%;
  }
  #detail_wrap {
    padding: 200px 0;
  }
  #detail_wrap .center {
    width: 90%;
  }
  #detail_wrap .center .bot {
    justify-content: space-between;
  }
  #store_wrap {
    padding-top: 90.67px;
  }
  #store_wrap .center {
    width: 90%;
  }
  #board_list_wrap {
    padding: 200px 0;
  }
  #board_list_wrap .center {
    width: 90%;
  }
  #board_list_wrap .center .brd_wrap .date {
    width: 40%;
  }
  #board_detail_wrap {
    padding-top: 90.67px;
  }
  #board_detail_wrap .center {
    width: 90%;
  }
}
@media (max-width: 768px) {
  footer .center {
    width: 90%;
  }
  #container .bake_count .center .count_list .count p {
    margin-bottom: 30px;
  }
  #container .news .center .news_boxs .left_img {
    display: none;
  }
  #container .news .center .news_boxs .view {
    height: 525px;
  }
  #menu_wrap .center .type_btns {
    width: 70%;
  }
  #menu_wrap .center .menu_list .menu_box {
    width: 33.333333%;
  }
  #detail_wrap .center .bot {
    padding: 0 0 100px 0;
    flex-direction: column;
  }
  #detail_wrap .center .bot .img_box, #detail_wrap .center .bot .text_box {
    width: 100%;
  }
  #detail_wrap .center .bot .text_box {
    margin-top: 50px;
  }
  #store_wrap .center form .search_select {
    width: 100%;
  }
  #store_wrap .center form .search_input {
    width: 100%;
  }
  #store_wrap .center .store_list .store_box {
    text-align: center;
    padding: 30px 0;
  }
  #store_wrap .center .store_list .no_store p {
    text-align: center;
  }
  #board_list_wrap {
    padding: 200px 0;
  }
  #board_list_wrap .center {
    width: 90%;
  }
  #board_list_wrap .center .brd_wrap .date {
    width: 50%;
  }
  #board_list_wrap .center .brd_wrap .classification {
    display: none;
  }
}
@media (max-width: 580px) {
  #menu_wrap .center .type_btns {
    width: 80%;
  }
  #menu_wrap .center .menu_list .menu_box {
    width: 50%;
  }
  #board_list_wrap .center .brd_wrap .title {
    text-align: center;
  }
  #board_list_wrap .center .brd_wrap .date {
    display: none;
  }
}