<div id="admin_header">
    <div class="center">
        <div class="top_line">
            <p>안녕하세요 <%- userData.adminId %> 님</p>
            <a href="/logout">로그아웃</a>
        </div>
        <div class="bot_line">
            <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
            <ul class="gnb">
                <li><a href="/admin/prdlist">상품 등록 페이지</a></li>
                <li><a href="/admin/storelist">매장 등록 페이지</a></li>
                <li><a href="/admin/board">게시판 페이지</a></li>
            </ul>
        </div>
    </div>
</div>