<div class="carousel_wrap">
    <div class="center">
        <div class="carousel">
            <div class="carousel01 play">
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
            </div>
            <div class="carousel02 play">
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
                <span class="red">California Doughnut Club</span>
                <span class="blue">California Doughnut Club</span>
            </div>
        </div>
    </div>
</div>