<footer>
    <div class="center">
        <div class="logo"><a href="/"><img src="/img/logo_w.png"></a></div>
        <ul class="sns">
            <li><a href="https://www.instagram.com/californiadoughnutclub/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCgjhP9U14CisGGJPYdBQqEA/featured"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.facebook.com/people/%EC%BA%98%EB%A6%AC%ED%8F%AC%EB%8B%88%EC%95%84-%EB%8F%84%EB%84%9B-%ED%81%B4%EB%9F%BD/100063807050613/"><i class="fa-brands fa-square-facebook"></i></a></li>
        </ul>
        <ul class="address">
            <li>비라티오 컴퍼니</li>
            <li>대표이사: 이명수</li>
            <li>주소: 경기도 고양시 일산서구 경의로 845(덕이동, 1층, 2층)</li>
            <li>사업자등록번호: 128-39-98272</li>
            <li>전화: 070-8806-8057 </li>
        </ul>
        <p class="copyright">COPYRIGHT Dayeon ALL RIGHTS RESERVED</p>
    </div>
</footer>