<header>
    <div class="center">
        <div class="desktop_header">
            <div class="subGnb_bg"></div>
            <div class="admin">
                <a href="/admin"><i class="fa-solid fa-gear"></i></a>
            </div>
            <ul class="gnb">
                <!-- <li><a href="#">캘리포니아 도넛 클럽</a></li> -->
                <li>
                    <a href="/about">
                        <span class="engMenu">California Doughnut Club</span>
                        <span class="korMenu">캘리포니아 도넛 클럽</span>
                    </a>
                    <ul class="sub_gnb">
                        <li><a href="/about">캘리포니아 도넛 클럽</a></li>
                        <li><a href="/franchise">창업 안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/menu/doughnut">
                        <span class="engMenu">Menu</span>
                        <span class="korMenu">메뉴</span>
                    </a>
                    <ul class="sub_gnb">
                        <li><a href="/menu/doughnut">도넛</a></li>
                        <li><a href="/menu/coffee">커피</a></li>
                        <li><a href="/menu/tea">티</a></li>
                        <li><a href="/menu/ade">에이드</a></li>
                    </ul>
                </li>
                <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
                <li>
                    <a href="/storelist">
                        <span class="engMenu">Location</span>
                        <span class="korMenu">매장 위치</span>
                    </a>
                    <ul class="sub_gnb">
                        <li><a href="/storelist">매장찾기</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/board/news">
                        <span class="engMenu">What's New</span>
                        <span class="korMenu">새로운 소식</span>
                    </a>
                    <ul class="sub_gnb">
                        <li><a href="/board/news">새로운 소식</a></li>
                        <li><a href="/board/notice">공지사항</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mobile_header">
            <div class="top">
                <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
                <div class="btn">
                    <span class="first_span"></span>
                    <span class="mid_span"></span>
                    <span class="last_span"></span>
                    <!-- <i class="fa-solid fa-bars"></i> -->
                </div>
            </div>
            <div class="right_menu">
                <ul class="ham_gnb">
                    <!-- <li><a href="#">캘리포니아 도넛 클럽</a></li> -->
                    <li>
                        <p>
                            <span class="korMenu">캘리포니아 도넛 클럽</span>
                            <img src="/img/down_w.png">
                        </p>
                        <ul class="ham_sub_gnb">
                            <li><a href="/about">캘리포니아 도넛 클럽</a></li>
                            <li><a href="/franchise">창업 안내</a></li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <span class="korMenu">메뉴</span>
                            <img src="/img/down_w.png">
                        </p>
                        <ul class="ham_sub_gnb">
                            <li><a href="/menu/doughnut">도넛</a></li>
                            <li><a href="/menu/coffee">커피</a></li>
                            <li><a href="/menu/tea">티</a></li>
                            <li><a href="/menu/ade">에이드</a></li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <span class="korMenu">매장 위치</span>
                            <img src="/img/down_w.png">
                        </p>
                        <ul class="ham_sub_gnb">
                            <li><a href="/storelist">매장찾기</a></li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <span class="korMenu">새로운 소식</span>
                            <img src="/img/down_w.png">
                        </p>
                        <ul class="ham_sub_gnb">
                            <li><a href="/board/news">새로운 소식</a></li>
                            <li><a href="/board/notice">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="sns">
                    <li><a href="https://www.instagram.com/californiadoughnutclub/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCgjhP9U14CisGGJPYdBQqEA/featured"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/people/%EC%BA%98%EB%A6%AC%ED%8F%AC%EB%8B%88%EC%95%84-%EB%8F%84%EB%84%9B-%ED%81%B4%EB%9F%BD/100063807050613/"><i class="fa-brands fa-square-facebook"></i></a></li>
                </ul>
                <div class="admin">
                    <a href="/admin">관리자 로그인</a>
                </div>
            </div>
        </div>
        <div class="blur_bg"></div>
    </div>
    <script src="/js/header.js"></script>
    <script src="/js/ham_menu.js"></script>
</header>