<header>
    <div class="center">
        <div class="subGnb_bg"></div>
        <ul class="gnb">
            <!-- <li><a href="#">캘리포니아 도넛 클럽</a></li> -->
            <li>
                <a href="#">
                    <span class="engMenu">California Doughnut Club</span>
                    <span class="korMenu">캘리포니아 도넛 클럽</span>
                </a>
                <ul class="sub_gnb">
                    <li><a href="#">캘리포니아 도넛 클럽</a></li>
                    <li><a href="#">브랜드 히스토리</a></li>
                    <li><a href="#">창업 안내</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="engMenu">Menu</span>
                    <span class="korMenu">메뉴</span>
                </a>
                <ul class="sub_gnb">
                    <li><a href="#">도넛</a></li>
                    <li><a href="#">커피</a></li>
                    <li><a href="#">라떼</a></li>
                    <li><a href="#">티</a></li>
                    <li><a href="#">에이드</a></li>
                </ul>
            </li>
            <div class="logo"><a href="/"><img src="/img/logo.png"></a></div>
            <li>
                <a href="#">
                    <span class="engMenu">Location</span>
                    <span class="korMenu">매장 위치</span>
                </a>
                <ul class="sub_gnb">
                    <li><a href="#">매장찾기</a></li>
                    <li><a href="#">오픈예정매장</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="engMenu">What's New</span>
                    <span class="korMenu">새로운 소식</span>
                </a>
                <ul class="sub_gnb">
                    <li><a href="#">새로운 소식</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="/js/header.js"></script>
</header>